/* Global config */
@import "config/colors"; // Your custom color scheme
@import "config/fonts"; // Your custom fonts
@import "config/mixins"; // Your custom mixins
@import "config/settings"; // Default foundation settings file. Uncomment each setting you need to change
@import "config/defaults"; // Default styles file. Global styles.

/* Foundation 5 */
@import "foundation"; // Foundation 5 by Zurb

/* Site structure */
@import "site/structure"; // Your site structure
@import "site/top-menu"; // top standard header
@import "site/main-menu"; // top standard header
@import "site/forms"; // form fields
@import "site/header"; // header styles
@import "site/buttons"; // button styles
@import "site/footer"; // footer styles
@import "site/article"; // article styles
@import "site/type"; // type styles