/* Global config */
@import "config/colors"; // Your custom color scheme
@import "config/fonts"; // Your custom fonts
@import "config/mixins"; // Your custom mixins
@import "config/settings"; // Default foundation settings file. Uncomment each setting you need to change
@import "config/defaults"; // Default styles file. Global styles.

/* Foundation 5 */
@import "foundation"; // Foundation 5 by Zurb

/* Plugins */
@import "plugins/nivo-lightbox"; // Nivo Lightbox
@import "plugins/nivo-default"; // Nivo Lightbox
@import "plugins/slick"; // Slick Slider

/* Site structure */
@import "site/structure"; // Your site structure
@import "site/top-menu"; // top standard menu
@import "site/main-menu"; // main standard menu
@import "site/side-menu"; // side standard menu
@import "site/forms"; // form fields
@import "site/header"; // header styles
@import "site/buttons"; // button styles
@import "site/footer"; // footer styles
@import "site/article"; // article styles
@import "site/type"; // type styles
@import "site/share"; // share button styles
@import "site/feature"; // feature styles
@import "site/news"; // news styles
@import "site/widgets"; // widget styles


/* College Customizations */
@import "site/faculty";
@import "site/lists";



// Sort into separate .scss files
#sidebar .widget_custom_post_widget {
padding-left: 2%;
}


#sidebar .widget_img {
	float: left;
	width: 35%;
}
#sidebar .widget_content {
	float: left;
	margin-left: 15px;
	width: 60%;
	p {
		font-size: 1rem;
	}
}
#after-content .widget_custom_post_widget {
	margin-bottom: 1.5rem;
	margin-top: 1.5rem;
	padding-top: 1rem;
}
#after-content .widget_content {
	float: left;
	margin-left: 0;
	width: 80%;

	p {
	margin-bottom: 0;
	}
}
#after-content .widget_links {
	float: left;
	width: 80%;
}
#after-content .widget_links li a {
	width: auto;
	margin: 0;
	&:first-child {
		margin-right: 5px;
	}
}
#after-content .widget_img {
	float: left;
	width: 20%;
}
#sidebar .widget_links li a {
	width: 48%;
	margin: 0;
	&:first-child {
		margin-right: 2%;
	}
}
#sidebar .widget_links ul {
	float: right;
	text-align: right;
}
.widget_custom_post_widget ul.widget_links li {
	display: inline;
}
ul.widget-area li {
	list-style: none;
	margin: 0;
	padding: 0;	
}
ul.widget-area.before-content h2.widgettitle {
	font-size: 1.25rem;
	margin-bottom: .5rem;
	margin-top: 0;
	padding-bottom: 0;
}
ul.widget-area.before-content .button {
	margin-bottom: .5rem;
}
body.page-template-templatesfaculty-php .pager {
	width: 100%;
	float: left;
}
.article__content {
	ul,ol {
		margin-left: 4rem;	
	}
	div[id^="gallery-"] img {
		border: 0 !important;
	}
	.gallery {
		margin-bottom: 1rem !important;
		margin-left: auto !important;
		margin-right: auto !important;
		margin-top: auto !important;
	}
	.gallery .gallery-item {
		margin: 0;
		padding: 0;
		color: #ffffff;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
		background-color: #363533;
	}
}

/* 
 * mobile menu
 */
  .left-off-canvas-menu #menu-main-menu {
  	padding: 1.5rem;
  }
 .left-off-canvas-menu #menu-main-menu li a {
	color: #fff;
}



.title-area h1 {
	margin-bottom: 0;
}
ul.units {
	font-size: 1.50rem;
	padding-left: 0;
	margin-bottom: 4rem;
	margin-left: 0;
	margin-top: .5rem;

	 li {
	 	@include serif;
		float: left;
		list-style: none;

	}
}