/* Global config */
@import "config/colors"; // Your custom color scheme
@import "config/mixins"; // Your custom mixins
@import "config/settings"; // Default foundation settings file. Uncomment each setting you need to change
@import "config/defaults"; // Default styles file. Global styles.
@import "config/fonts"; // Your custom fonts

/* Foundation 5 */
@import "foundation"; // Foundation 5 by Zurb
@import "../assets/foundation-icons/foundation-icons.css";

/* Plugins */
@import "plugins/nivo-lightbox"; // Nivo Lightbox
@import "plugins/nivo-default"; // Nivo Lightbox
@import "plugins/slick"; // Slick Slider

/* Site structure */
@import "site/structure"; // Your site structure
@import "site/top-menu"; // top standard menu
@import "site/main-menu"; // main standard menu
@import "site/mobile-menu"; // main mobile menu
@import "site/side-menu"; // side standard menu
@import "site/forms"; // form fields
@import "site/header"; // header styles
@import "site/home"; // widget styles
@import "site/buttons"; // button styles
@import "site/footer"; // footer styles
@import "site/article"; // article styles
@import "site/share"; // share button styles
@import "site/feature"; // feature styles
@import "site/news"; // news styles
@import "site/widgets"; // widget styles


/* College Customizations */
@import "site/faculty";
@import "site/lists";

/* Print styles */
@import "config/print";


// Sort into separate .scss files






/* Okay to delete? 

.title-area h1 {
	margin-bottom: 0;
}

ul.units {
	font-size: 1.50rem;
	padding-left: 0;
	margin-bottom: 4rem;
	margin-left: 0;
	margin-top: .5rem;

	 li {
	 	@include serif;
		float: left;
		list-style: none;

	}
}
*/



div.news {
	margin-bottom: 4rem;
}
.panel {
	background-color: #f6f6f6;
	background-image: url('/wp-content/themes/coenv-fish/assets/img/bg-home-intro.png');
	border: solid 7px #ebebeb;
	float:left;
	font-size: 16px;
	@include o_sans;
	text-transform: uppercase;
	width: 100%;

	strong {
		@include o_sans_bold;
	}
	.right a {
		background-image: url('/wp-content/themes/coenv-fish/assets/img/icon-close.svg');
		display: inline-block;
		height: 20px;
		line-height: 16px;
		width: 20px;
		text-indent: -9999px;

		&:hover {
			background-image: url('/wp-content/themes/coenv-fish/assets/img/icon-close-on.svg');

		}
		}


	p:first-child {
		float:left;
		width: 75%;
	}
	p:nth-child(2) {
		float: right;
		width: 25%;
		text-align: right;







	}
	.button {
	margin-bottom: 0;
	padding: .5rem;
	}
}

// Move to plugin?
html .mceContentBody {
	padding: 2rem !important;
}