/* Global config */
@import "config/colors"; // Your custom color scheme
@import "config/fonts"; // Your custom fonts
@import "config/mixins"; // Your custom mixins
@import "config/settings"; // Default foundation settings file. Uncomment each setting you need to change
@import "config/defaults"; // Default styles file. Global styles.

/* Foundation 5 */
@import "foundation"; // Foundation 5 by Zurb

/* Plugins */
@import "plugins/nivo-lightbox"; // Nivo Lightbox
@import "plugins/nivo-default"; // Nivo Lightbox
@import "plugins/slick"; // Slick Slider

/* Site structure */
@import "site/structure"; // Your site structure
@import "site/top-menu"; // top standard menu
@import "site/main-menu"; // main standard menu
@import "site/side-menu"; // side standard menu
@import "site/forms"; // form fields
@import "site/header"; // header styles
@import "site/buttons"; // button styles
@import "site/footer"; // footer styles
@import "site/article"; // article styles
@import "site/type"; // type styles
@import "site/share"; // share button styles
@import "site/feature"; // feature styles

/* College Customizations */
@import "site/faculty";
@import "site/lists";