/**
 * Custom color scheme
 * ----------------------------------------------------------------------------
 */

$white: #fff;
$accent: #3B2559;
$accent-purple: $accent;
$accent-lt: lighten( $accent, 15% );
$accent-blue: #006ca2;
$accent-red: #b82828;
$accent-hover: $accent-lt;
$dark-widget: #888;
$white-button: #ddd;

$text: #333;
$text-md: #444;
$text-lt: #666;
$text-very-lt: #eee;
$text-white: #bbb;

$border: #ddd;
$border-dk: #222;
$border-dk-accent: #3d3d3d;

$bg-dk: #363533;

/*  Global shadow
    ======================================================================== */

@mixin shadow {
  //@include box-shadow( rgba(0,0,0,0.1) 0 0 5px );
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.shadow {
  //@include box-shadow( rgba(0,0,0,0.1) 0 0 5px );
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

/* Rounded Corners
 * -------------------------------------------------------------------------- */
$radius: 2px;