/*	Fonts
		======================================================================== */

@mixin sans() {
  font: {
    family: "open-sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
}

@mixin serif() {
  font: {
    family: Georgia, serif;
  }
}

/*	Base font size
		======================================================================== */
$base-font-size: 14;