/*	Fonts
		======================================================================== */

@mixin o_sans() {
  font: {
    family: "open-sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
  }
}

@mixin encode() {
  font: {
    family: "Encode Sans Normal", "open-sans", "Helvetica Neue", Helvetica, Arial, sans-serif!important;
    -webkit-font-smoothing: antialiased;
  }
}

@mixin encode_cb() {
    font-family: "Encode Sans Condensed", "open-sans", "Helvetica Neue", Helvetica, Arial, sans-serif!important;
    font-weight: 800!important;
    text-transform: uppercase;
    letter-spacing: .5px;
    -webkit-font-smoothing: antialiased;
}

@mixin uni() {
  font: {
    family: "Uni Sans", "open-sans", "Helvetica Neue", Helvetica, Arial, sans-serif!important;
    -webkit-font-smoothing: antialiased;
  }
}

.intro {
    font-size: rem-calc(24)!important;
    margin: rem-calc(20) 0;
    font-family: "Encode Sans Normal";
    font-weight: 400;
    letter-spacing: .5px;
    -webkit-font-smoothing: antialiased;
}

blockquote {
    margin: 0!important;
    padding: rem-calc(20) rem-calc(80)!important;
    border-left: 0px!important;
    border-top: 2px solid #f6f5f7;
    border-bottom: 2px solid #f6f5f7;
    
    p {
        margin: 0!important;
        @include encode_cb;
        text-transform: none;
        color: #000000!important;
        font-size: rem-calc(18);
    }
}

h1 {
    @include encode_cb;
    font-size: rem-calc(26)!important;
    line-height: rem-calc(30);
    font-weight: 400;

    @media #{$medium-up} {
        font-size: rem-calc(36);
        line-height: rem-calc(48);
    }

} // h1

h2 {
    @include encode_cb;
    font-size: rem-calc(24);
    line-height: rem-calc(24);
    font-weight: 400;

    @media #{$medium-up} {
        font-size: rem-calc(32);
        line-height: rem-calc(30);
    }

} // h2

h3 {
    @include encode_cb;
    font-size: rem-calc(20);
    line-height: rem-calc(24);
    font-weight: 400;

    @media #{$medium-up} {
        font-size: rem-calc(28);
        line-height: rem-calc(24);
    }

} // h3

h4 {
    @include encode_cb;
    font-size: rem-calc(18);
    line-height: rem-calc(16);
    
    @media #{$medium-up} {
        font-size: rem-calc(24);
        line-height: rem-calc(24);
    }
}

/*	Base font size
		======================================================================== */
$base-font-size: 16;

/*	Old Fonts
		======================================================================== */

@mixin sans() {
  font: {
    family: "open-sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
}

@mixin serif() {
  font: {
    family: Georgia, serif;
  }
}
