/* ==========================================================================
   Helpful mixins
   ========================================================================== */

/**
 * REM conversion
 */
$base-font-size: 14 !default;

/*
 * Use rems with px fallback
 */

@function ie8_unit_to_px( $val ) {
  @if $val == auto {
    @return $val;
  } @else {
    @if unitless( $val ) {
      @if $val == 0 { @return $val;
      } @else { @return $val * $base-font-size + px; }
    } @else { @return $val; }
  }
}

@function ie8_unit_to_rem( $val ) {
  @if $val == auto { @return $val; }
  @else {
    @if unitless($val) {
      @if $val == 0 { @return $val; }
      @else { @return $val + rem; }
    } @else { @return $val; }
  }
}

@mixin rem( $prop, $val... ) {
  $n: length($val);
  $i: 1;
  $px-list: ();
  $rem-list: ();

  @while $i <= $n {
    $px-list: append( $px-list, ie8_unit_to_px( nth( $val, $i ) ) );
    $rem-list: append( $rem-list, ie8_unit_to_rem( nth( $val, $i ) ) );
    $i: $i + 1;
  }

  #{$prop}: $px-list;
  #{$prop}: $rem-list;
}

/**
 * Font size and line height
 */
@mixin font-size( $val ) {
  font-size: $val + px;
  font-size: ( $val / ( $base-font-size / 1 ) ) + rem;
}

@mixin line-height( $val ) {
  line-height: $val + px;
  line-height: ( $val / ( $base-font-size / 1 ) ) + rem;
}

/*  Placeholders
    ======================================================================== */

@mixin placeholder {
  &::-webkit-input-placeholder { @content }
  &:-moz-placeholder { @content }
  &::-moz-placeholder { @content }
  &:-ms-input-placeholder { @content }
}

// columns
@mixin col-1() {
	width: 24.7169811%; // 262px at widest

	@media print {
		width: auto;
	}
}

@mixin col-2 {
	width: 49.8113208%; // 528px at widest

	@media print {
		width: auto;
	}
}

@mixin col-3 {
	width: 74.9056604%; // 794px at widest

	@media print {
		width: auto;
	}
}