/**
 * Custom variables
 * ----------------------------------------------------------------------------
 */

/*	Base font size and rounded corners
		======================================================================== */
$base-font-size: 14;
$radius: 2px;

/*	Asset paths
		======================================================================== */
$images-path: '../../img/';
$fonts-path: '../../fonts/';