strong {
	font-weight: bold;
}


.blog-list-item .article__content {
	padding-bottom: 0;
}
.row .row {
    	margin-left: 0;
    	margin-right: 0;
    }


/*	Module: article
		
		======================================================================== */

.blog {
	margin-top: 40px;

	
}

.single .blog {
	margin-top: 0;
}

.single .article__header {
	margin-bottom: 20px;
}


.article {
	position: relative;
	margin-bottom: rem-calc(36);
	    	line-height: 1.5;

	@media print {
		padding: 0;
	}

// Add to all articles?


	

} // .article
article {
	
	.columns {
    	padding-left: 0 !important;
    	padding-right: 0 !important;
    }





}
.article__header {
	float: left;
	
	width: 100%;

	.article__title {
		margin: 8px 0;
		@include rem('padding-bottom', 1);
		@include font-size(18);
		line-height: 1;
		font-weight: 400;

		@media #{$medium-up} {
			@include font-size(36);
		}

		p {
			margin-bottom: 0;
		}

		a {
			text-decoration: none;
			color: $text;
		}

		br {
			display: none;
		}

	} // .article__title
	
	.article__meta {


		.post-info {
			color: $text-lt;
			@include font-size(11);
			font-weight: 600;
			letter-spacing: .1em;

			text-transform: uppercase;
			vertical-align: middle;
		}

		
		
		a:hover {
		//color: #8458BE!important;
		}

		.article__categories {
			display: inline-block;

			ul {
				display: inline-block;
				margin: 0;
				padding: 0;
				list-style: none;

			}

			li {
				display: inline-block;

			} //li

		} // .article__categories

		&.columns {
			padding-left: 0;
			padding-right: 0;
		}

	} // .article__meta

} // .article__header
.page-template-faculty .article__content {
	padding-bottom: 0;
}
.article__content {
    @extend .clearfix;
    padding-bottom: 60px;


    .article__header p {
				line-height: 1;
				margin-bottom: 0;
			}
    

    a {
    	color: #5c5c5c;
    	text-decoration: underline;
    }

    p,li,ul li p {
    	font-size: rem-calc(18);
    	line-height: 1.5;
    }

    ul {
    display: block;
    margin-left: 20px;
    }


    h1,h2,h3,h4,h5,h6 {
    	@include encode_black;
    	color: #1c1c1c;
    	line-height: 1.2;

    }

	h1 {
		@include font-size(30);
		font-weight: 400;

	} // h1

	h2 {
		font-size: rem-calc(30);
		font-weight: 400;
		margin-bottom: rem-calc(25);

	} // h2

	h3 {
		@include font-size(26);
		font-weight: 400;
		margin-bottom: rem-calc(25);


	} // h3

	h4 {
		@include font-size(22);
	}

	hr {
		height: 2px;
		border: none;
		background: $border;
	}

	blockquote {
	@include o_sans_bold;
	background-image: url("/wp-content/themes/coenv-fish/assets/img/bg-intro.png");
    margin: 2rem 0;
    padding: rem-calc(20) rem-calc(40);
    border: solid 6px #ccc;
    
	    p {
	        margin: 0!important;
	        text-transform: none;
	        color: #000000!important;
	        font-size: rem-calc(18);
	    }
	}


	// tables
	table {
		width: 100%;

		th,
		td {
			@include rem('padding', 0.25, 0.25, 0.25, 0.5);
			text-align: left;
		}

		th {
			background: #D9D9D9;
			border-bottom: 1px solid #d0d0d0;
		}

		tbody th {
			background: #eee;
			font-weight: 400;
			border: none;
		}

	} // table

	// definition lists
	dl {

		dt {
			font-weight: 800;
		}

		dd {
			@include rem('margin-bottom', 0.5);
		}

	} // dl

	// lists
	ul ul,
	ul ol,
	ol ol,
	ol ul {
		margin-bottom: 0;
	}

	// responsive elements
	// make sure elements with WP-added height and width attributes are scaled correctly
	img,
	img.size-small,
	img.size-medium,
	img.size-full,
	img.size-large,
	img.wp-post-image
	img[class*="align"],
	img[class*="wp-image-"],
	img[class*="attachment-"],
	.wp-caption,
	.twitter-tweet-rendered {
		max-width: 100% !important;
		height: auto !important;
	}

	embed,
	object,
	iframe,
	video {
		max-width: 100%;
	}

	// alignment
	.alignleft {
		float: left;
	}

	.alignright {
		float: right;
	}

	.aligncenter {
		display: block;
		margin-right: auto;
		margin-left: auto;
	}

	// margins


	.size-medium {
	width: 300px;
	}


	.wp-caption.right {
		margin-top: 40px;
		margin-left: 40px;
	}
	.wp-caption .alignleft,
	.wp-caption.alignleft {
		@include rem('margin', 0, 1, 1, 0);
	}

	img.alignright,
	.wp-caption.alignright {
		@include rem('margin', 0, 0, 1, 1);
	}

	// captions
	.wp-caption {
		margin: 0;
		padding: 0;
		color: #fff;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
		background-color: $bg-dk;
		
		.source {
			background-color: rgba(0,0,0,.5);
			color: #fff;
			text-align: right;
			//font-style: italic;
			text-transform: uppercase;
			letter-spacing: .1em;
			width: 100%;
			position: relative;
			@include font-size(8);
			//@include rem('margin-top', -1.8);
			@include rem('padding', .25, 1);
			
			a {
				color: white;
				text-decoration: none;
			}
			
			a:hover {
				color: #fff;
			}
		}

		.wp-caption-text {
			@include rem('margin', 0.25, 1, 0.5, 1);
			@include rem('padding', .25, 1);
			@include font-size(14);
			@include rem('line-height', 1.25);
			color: $text-very-lt;
			text-align: left;


			a {
				color: #fff;
				text-decoration: underline;
			}

			a:hover {
				color: #fff;
			}
		}

		img {
			margin: 0;
			padding: 0;
		}

	} // .wp-caption


	// news index thumbnails

	.coenv-thumb {
		@media #{$medium-up} {
			float: right;
			margin: 0 0 1rem 1rem;
		}
		padding: 0;
		width: auto;
	} // .coenv-thumb

} // .article__content


.article__footer {

} // .article__footer




div[role="main"] {







	padding-left: rem-calc(40);
	margin-top: 2rem;
}



.page-template-section-page,
.page-template-faculty, 
.page-template-news,
.page-template-student_blog {




}
.page-content {
	margin-top: 60px;
}
.page-template-section-page .page-content {
	margin-top: 30px;
}
div[role="main"] {
	margin-top: 20px;
}

.gallery {
	background-image: url("../assets/img/nav-border-top-green-long.png");
	background-repeat: no-repeat;
	bakground-position: left top;
	padding-top: 30px;


	.gallery-item {
	width: 221px !important;
	margin-top: 0 !important;
	}

	img {
		border-color: #ccc;
		border-width: 6px !important;
	}
	
}
.blog-list-item {

	margin-bottom: 50px;
	width: 100%;
}

.blog-content {
	padding-right: 40px;
}
.blog-thumb {
	

	img {
 	   border: solid 6px #ebebeb;
    }
}

.blog-list-item h2 {
	margin-top: 0;
	margin-bottom: 0;
}
.share a {
	font-size: rem-calc(13);
}


.pagination a {
	text-decoration: none;
}
.row.filters {

background-image: url('../assets/img/nav-border-top-green-long.png');
background-position: bottom left;
background-repeat: no-repeat;
padding-bottom: 20px;
	
	h2 {
		font-size: rem-calc(16);
		text-transform: uppercase;
	}

	.columns.left {
	padding-left: 0;
	}
	.columns.right {
	padding-right: 0;
	}





}



.panel {
	background-color: #f6f6f6;
	border-bottom: solid 5px #ebebeb;
	border-left: solid 5px #ebebeb;
	border-right: solid 5px #ebebeb;
	border-top: solid 5px #ebebeb;
	display: block;
	float:left;
	font-size: 16px;
	@include o_sans;
	margin-bottom: 40px;
	text-transform: uppercase;
	width: 100%;

	.page-template-news & {
		border-top: 0;
	}

	strong {
		@include o_sans_bold;
	}
	.right a {
		background-image: url('/wp-content/themes/coenv-fish/assets/img/icon-close.svg');
		display: inline-block;
		height: 20px;
		line-height: 16px;
		width: 20px;
		text-indent: -9999px;

		&:hover {
			background-image: url('/wp-content/themes/coenv-fish/assets/img/icon-close-on.svg');

		}
		}


	p:first-child {
		float:left;
		width: 75%;
	}
	p:nth-child(2) {
		float: right;
		width: 25%;
		text-align: right;







	}
	.button {
	margin-bottom: 0;
	padding: .5rem;
	}
}

.select-category {
	font-size: rem-calc(14);
}



.article__thumbnail {
	margin-left: 20px;
	margin-top: 8px;


}
.single .article__links .button {
	@include o_sans_bold;
            background-color: #82cfcc;
            border: solid 4px #b2eeec;
            border-radius: 0;
            color: #000;
            font-size: rem-calc(11);
            margin-top: 0;
            margin-bottom: 0;
            margin-left: 0;
            margin-right: 12px;
            padding: rem-calc(4);
            text-decoration: none;
            text-transform: uppercase;

            @media #{$medium-up} {
              font-size: 12px;
              padding: rem-calc(6) rem-calc(8);
            }
    &:hover {
    	color: #000 !important;
    }
}



.error404 article {
	padding-bottom: rem-calc(60);
}

body.search .page-content,
body.error404 .page-content {

	.panel {
		margin-bottom: 20px !important;
	}
	
	form .field-wrap {
		// .field-wrap is weird, doesn't cover submit
		width: 91%;

	input[type="text"] {
		border-bottom: solid 1px #cccccc;
	    border-left: solid 1px #ccc;
	    border-right: 0;
	    border-top: solid 1px #999;
		font-size: 16px;
		margin-bottom: 0;
		padding: 20px 20px 20px 20px;
		width: 100%;
	}
	button {
		background-color: #000;
		height: auto;
		padding: 3px 0;
	}
	button[type="submit"] {
		width: 10%;

		i {
			font-size: 26px !important;
		}



	}
	.search-results {
		margin: 0 27px;
	}

}








}