
/*	Module: article
		
		======================================================================== */

.article {
	position: relative;
	margin-bottom: rem-calc(36);

	@media print {
		padding: 0;
	}

} // .article

.article__header {

	.article__title {
		margin-top: 0;
		@include rem('padding-bottom', 1);
		@include encode_black;
		@include font-size(18);
		@include line-height(30);
		font-weight: 400;

		@media #{$medium-up} {
			@include font-size(36);
			@include line-height(48);
		}

		a {
			text-decoration: none;
			color: $text;
		}

		br {
			display: none;
		}

	} // .article__title
	
	.article__meta {
		.post-info {
			text-transform:uppercase;
			letter-spacing:.1em;
			font-weight:600;
			color:#888;
			vertical-align: middle;
			text-decoration:none;
			@include font-size(11);
			color: $text-lt;
		}
		
		a:hover {
		color: #8458BE!important;
		}

		.article__categories {
			display: inline-block;

			ul {
				display: inline-block;
				margin: 0;
				padding: 0;
				list-style: none;

			}

			li {
				display: inline-block;

			} //li

		} // .article__categories

	} // .article__meta

} // .article__header

.article__content {
    @extend .clearfix;

    ul {
    display: block;
    margin-left: 20px;
    }

    li {
    	line-height: 1.6;

    	margin-bottom: rem-calc(5px);
    	list-style-position: inside;

    }
    h1,h2,h3,h4,h5,h6 {
    	@include encode_black;
    	width: 100%;
    }

	h1 {
		@include font-size(24);
		@include line-height(30);
		font-weight: 400;

		@media #{$medium-up} {
			@include font-size(36);
			@include line-height(48);
		}

	} // h1

	h2 {
		@include font-size(18);
		@include line-height(24);
		font-weight: 400;
		margin-bottom: rem-calc(20);

		@media #{$medium-up} {
			@include font-size(24);
			@include line-height(30);
		}

	} // h2

	h3 {
		@include font-size(16);
		@include line-height(24);
		font-weight: 400;
		margin-bottom: rem-calc(20);

		@media #{$medium-up} {
			@include font-size(18);
			@include line-height(24);
		}

	} // h3

	h4 {
		@include font-size(14);
		@include line-height(24);
	}

	hr {
		height: 2px;
		border: none;
		background: $border;
	}

	blockquote {
    margin: 2rem 0;
    padding: rem-calc(20) rem-calc(80);
    border-left: 0px!important;
    border-top: 2px solid #f6f5f7;
    border-bottom: 2px solid #f6f5f7;
    
    p {
        margin: 0!important;
        @include encode_cb;
        text-transform: none;
        color: #000000!important;
        font-size: rem-calc(18);
    }
}


	// tables
	table {
		width: 100%;

		th,
		td {
			@include rem('padding', 0.25, 0.25, 0.25, 0.5);
			text-align: left;
		}

		th {
			background: #D9D9D9;
			border-bottom: 1px solid #d0d0d0;
		}

		tbody th {
			background: #eee;
			font-weight: 400;
			border: none;
		}

	} // table

	// definition lists
	dl {

		dt {
			font-weight: 800;
		}

		dd {
			@include rem('margin-bottom', 0.5);
		}

	} // dl

	// lists
	ul ul,
	ul ol,
	ol ol,
	ol ul {
		margin-bottom: 0;
	}

	// responsive elements
	// make sure elements with WP-added height and width attributes are scaled correctly
	img,
	img.size-small,
	img.size-medium,
	img.size-full,
	img.size-large,
	img.wp-post-image
	img[class*="align"],
	img[class*="wp-image-"],
	img[class*="attachment-"],
	.wp-caption,
	.twitter-tweet-rendered {
		max-width: 100% !important;
		height: auto !important;
	}

	embed,
	object,
	iframe,
	video {
		max-width: 100%;
	}

	// alignment
	.alignleft {
		float: left;
	}

	.alignright {
		float: right;
	}

	.aligncenter {
		display: block;
		margin-right: auto;
		margin-left: auto;
	}

	// margins


	.size-medium {
	width: 300px;
	}



	img.alignleft,
	.wp-caption.alignleft {
		@include rem('margin', 0, 1, 1, 0);
	}

	img.alignright,
	.wp-caption.alignright {
		@include rem('margin', 0, 0, 1, 1);
	}

	// captions
	.wp-caption {
		margin: 0;
		padding: 0;
		color: #fff;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
		background-color: $bg-dk;
		
		.source {
			background-color: rgba(0,0,0,.5);
			color: #fff;
			text-align: right;
			//font-style: italic;
			text-transform: uppercase;
			letter-spacing: .1em;
			width: 100%;
			position: relative;
			@include font-size(8);
			//@include rem('margin-top', -1.8);
			@include rem('padding', .25, 1);
			
			a {
				color: white;
				text-decoration: none;
			}
			
			a:hover {
				color: #8458BE!important;
			}
		}

		.wp-caption-text {
			@include rem('margin', 0.25, 1, 0.5, 1);
			@include rem('padding', .25, 1);
			@include font-size(12);
			@include rem('line-height', 1.25);
			color: $text-very-lt;
			text-align: left;


			a {
				color: #fff;
				text-decoration: underline;
			}
		}

		img {
			margin: 0;
			padding: 0;
		}

	} // .wp-caption


	// news index thumbnails

	.coenv-thumb {
		@media #{$medium-up} {
			float: right;
			margin: 0 0 1rem 1rem;
		}
		padding: 0;
		width: auto;
	} // .coenv-thumb

} // .article__content


.article__footer {

} // .article__footer
div[role="main"] {
	padding-left: rem-calc(40);
	margin-top: 2rem;
}

body.page div[role="main"] .share {
	margin-bottom: 1rem;
	width: 100%;
}
