ul.blog-terms {
	float: left;
}
.blog-meta {
	display: block;

}
.blog-list-item  {
	display: block;
	float: left;




	.share {
		float: right;
		width: 10%;
	}

	.post {
		float: left;
	}
}
.blog h2 a {
	

		color: #000;

    	
    	@include font-size(18);
		font-weight: 400;

		@media #{$medium-up} {
			@include font-size(30);
		}


}






