/*	Module: button
		======================================================================== */

.button {
	display: inline-block;
	vertical-align: middle;
	@include rem('padding', 0.25, 1);
	@include sans;
	@include font-size(12);
	font-weight: 400;
	background: $white-button;
	text-decoration: none;
	color: $text;
	//@include border-radius( $radius );
	border-radius: $radius;
	//min-height: rem-calc(28);
	
	&:hover {
		background: rgba(0,0,0,0.6);
		color: #fff !important;
	}
	
	.dark {
		background: $bg-dk;
		color: $white;
		
		&:hover {
			background: $white-button;
			color: $text;
		}
	}

} // .button
