/*	Module: button
		======================================================================== */

.button {
	display: inline-block;
	vertical-align: middle;
	@include rem('padding', 0.25, 1);
	@include sans;
	@include font-size(12);
	font-weight: 400;
	background: $white-button;
	text-decoration: none;
	color: $text;
	//@include border-radius( $radius );
	border-radius: $radius;
	//min-height: rem-calc(28);
	
	&:hover {
		background: rgba(0,0,0,0.6);
		color: #fff !important;
	}
	
	.dark {
		background: $bg-dk;
		color: $white;
		
		&:hover {
			background: $white-button;
			color: $text;
		}
	}

} // .button


 .home .feature-content .button,
 .article__content .blog-list-item .button {
    @include o_sans_bold;
    background-color: #82cfcc;
    border: solid 4px #b2eeec;
    border-radius: 0;
    font-size: rem-calc(11);
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 12px;
    padding: rem-calc(4);

    text-transform: uppercase;

    &:first-child {
      margin-right: 10px;
    }

    @media #{$large-up} {
      font-size: 12px;
      padding: rem-calc(6) rem-calc(8);
    }


    


  }
  .article__content .blog-list-item a {
    	color: #000;
    	text-decoration: none;
    }