/*	Module: button
======================================================================== */

.button {
	@include o_sans_bold;
	background-color: #ccc;
	border-color: $gray-med;
	border-width: rem-calc(4);
	color: $black;
	display: inline-block;
	font-size: rem-calc(12);
	font-weight: 400;
	margin-bottom: 0;
	margin-right: rem-calc(6);
	padding: rem-calc(6);
	text-decoration: none;
	text-transform: uppercase;
	transition: all .5s ease;
	
	@media #{$medium-up} {
		font-size: rem-calc(14);
	}

	&:hover {
		background-color: rgba(0,0,0,0.6);
		color: $white;
	}

} // .button

.home .feature-content .button,
.article__content .blog-list-item .button,
#after-content .solid-widget .button {
	background-color: $teal;
	border-color: $teal-lt;
	color: $black;
	text-decoration: none;

	@media #{$medium-up} {
		margin-bottom: rem-calc(25);

	}
	
	&:hover {
		background-color: $teal-dk;
		border-color: $teal-med;
		color: $white;
	}

}

.home .full-student-faculty .button {
	background-color: $white;
	border-color: #cccccc;
	
	&:hover {
		background-color: $black;
		border-color: #666;
	}


}

.home .full-intro .button,
aside#sidebar .solid-widget .button {
	background-color: $orange;
	border-color: $orange-lt;
	
	&:hover {
		background-color: $orange-dk;
		border-color: $orange-med;
	}
}
.social-buttons .button {
	border: 0;
}