body.page-template-templatesfaculty-php .pager {
	width: 100%;
	float: left;
}

article.type-faculty {

	.faculty-info {
		background-color: #f4f4f4;
		border: 1px solid #ddd;
		margin-bottom: rem-calc(20px);
		margin-left: rem-calc(20px);
		padding-bottom: rem-calc(10px);
		width: rem-calc(240px);

		p {
			margin: 0;
			padding: rem-calc(10px);
		}

		ul {
			margin: 0;
			padding-right: rem-calc(10px);
			padding-bottom: rem-calc(10px);
			padding-left: rem-calc(10px);

			ul {
				margin: 0;
				padding: 0;
			}

			li {
				list-style: none;
				margin-left: 0;
				padding-left: 0;

				

				&.cv a {
				}
			}

		} // end ul

		.faculty-name {
			@include rem('font-size', 1.5);
			font-weight: bold;
			line-height: 1;
			@include rem('margin-bottom',.5);
			@include rem('padding-bottom',0);
		}

		.faculty-website {
			padding-bottom: 0;
		}

	}

	.faculty-advising {
		border-top: 1px solid #DDDDDD;
		float: left;
		@include rem('margin-top',1);
		@include rem('padding-top',1);
	}

	.faculty-pubs ul {
	    margin-left: rem-calc(30px);
		
		li {
			float: left;
			font-size: 1.2em;
			line-height: 1.6;
    		margin-bottom: rem-calc(10px);
		}

		li p {
			font-size: 16px !important;
		}

	} // end .faculty-pubs ul

} // end article.type-faculty

.faculty-list-teach {

}

.faculty-list-teach h2:first-child {
	margin-top: 0;
}

.faculty-list-teach .faculty-list-item {
	float: left;
	margin-bottom: rem-calc(16px);
	margin-right: rem-calc(18px);
	width: rem-calc(143px);
	min-height: 195px;
	img {
		border: solid 6px #ebebeb;
	}
	h3 {
		@include o_sans_bold;
		font-size: 1rem;
		line-height: 1.25rem;
		margin-top: .5rem;
		text-align: center;

		a {
			color: #000;

		}
	}

}

.faculty-list-research .faculty-list,
.faculty-list-adjunct .faculty-list,
.faculty-list-emeritus .faculty-list {
	display:table;
	width: 100%;
}
.faculty-list-research .faculty-list .faculty-list-item,
.faculty-list-adjunct .faculty-list .faculty-list-item,
.faculty-list-emeritus .faculty-list .faculty-list-item {
	display:table-row;

	.faculty-name h3 {
		font-weight: normal;
		font-size: 1rem;
		@include sans;
	}

	&.even {
		background-color: #ddd;
	}
}
.faculty-list-research .faculty-list .faculty-list-item div,
.faculty-list-adjunct .faculty-list .faculty-list-item div,
.faculty-list-emeritus .faculty-list .faculty-list-item div {
	display:table-cell;
    width:25%;
}
.faculty-list-emeritus {
	margin-bottom: rem-calc(153px);
}
.page-id-80 h2 {
	@include font-size(24);	
}

#sidebar .widget {
	line-height: 1.6;
	margin-bottom: 1rem;
}
.article__categories {
	margin-bottom: 1rem;
}
.article__categories h2 {
	@include rem('font-size', 1);
	line-height: 1;
	@include sans;
	padding: 0;
	margin: 0 0 20px 0;
}


div[role="main"] ul.fac-cats {

margin: 0 0 20px 0;
padding: 0;

li {
	list-style: none;
	margin: 0;
	padding: 0;

	a {
		@include o_sans_bold;
		border: solid 4px #82cfcc;
		color: #000;
		margin-right: 10px;
		padding: 5px 10px;
		text-transform: uppercase;



	}



}


}

.faculty-website a.button {
	@include rem('font-size', 1);
	margin: 1rem 0 0 0;
	width: 100%;
}


.faculty__header {
background-image: url("/wp-content/themes/coenv-fish/assets/img/bg-intro.png");
border: 5px solid #ebebec;
margin-bottom: 30px;
padding: 18px 40px;

h1.article__title {
	font-size: 40px;
	margin-bottom: 0;
}
	
}
.single-faculty div[role="main"] {
	margin-top: 0;
}
ul.job-titles {

	margin-left: 0;
	padding-left: 0;


	li {
	@include encode;
	font-size: 26px;
	list-style: none;
	}

}
.single-faculty {
	.entry-content {
		margin-left: 40px;
	}
	.article__categories h2 {
		@include encode_black;
		font-size: 14px;
		text-transform: uppercase;
	}
}
.faculty-info {
	@include o_sans_bold;
		background-image: url('../assets/img/nav-border-top-green.png');
		background-position: left top;
		background-repeat: no-repeat;
		border-left: 6px solid #82cfcc;
		border-right: 6px solid #ebebeb;
		margin-top: 0  1rem rem-calc(30) 0;
		padding: 5px 0 0 0;
		line-height: 10px;
		width: 100%;

ul {	
	background-image: url('../assets/img/nav-border-top-green.png');
		background-position: left bottom;
		background-repeat: no-repeat;
		margin-bottom: 0;
		margin-left: 0;
}

li {
			@include o_sans_bold;
			display: block;
			background-image: url('../assets/img/nav-border-top-green.png');
			background-repeat: no-repeat;
			background-position: left top;
			line-height: 1.2;
			margin: 0;
			padding: 0 0 0 15px;
			text-transform: uppercase;
			font-size: 1rem;

			

			&.active,
			&:hover {

				background-image: url('../assets/img/nav-border-black.png');

			}
			a {
				@include o_sans_bold;
				display: block;
				font-size: rem-calc(18);
				padding: 16px 16px 14px 16px;


				&:not(.button) {
					color: #000;
				}
			}



			&.email a {
	

					background-image: url('../assets/img/icon-fac-mail.svg');
					background-position: left center;
					background-repeat: no-repeat;
					background-size: 29px 20px;
					display: inline-block;
					padding-left: 40px;
		

			}
			&.phone-numbers a {
	

					background-image: url('../assets/img/icon-fac-phone.svg');
					background-position: left center;
					background-repeat: no-repeat;
					background-size: 25px 27px;
					display: inline-block;
					padding-left: 40px;
		

			}
			&.location a {
	

					background-image: url('../assets/img/icon-fac-loc.svg');
					background-position: left center;
					background-repeat: no-repeat;
					background-size: 28px 27px;
					display: inline-block;
					padding-left: 40px;
		

			}
			&.twitter a {
	

					background-image: url('../assets/img/icon-fac-twitter.svg');
					background-position: left center;
					background-repeat: no-repeat;
					background-size: 25px 20px;
					display: inline-block;
					padding-left: 40px;
		

			}
			&.google-scholar a {
	

					background-image: url('../assets/img/icon-fac-google-scholar.svg');
					background-position: left center;
					background-repeat: no-repeat;
					background-size: 29px 19px;
					display: inline-block;
					padding-left: 40px;
		

			}
			&.scival a {
	

					background-image: url('../assets/img/icon-fac-scival.svg');
					background-position: left center;
					background-repeat: no-repeat;
					background-size: 28px 29px;
					display: inline-block;
					padding-left: 40px;
		

			}
			&.cv a {
	

					background-image: url('../assets/img/icon-fac-cv.svg');
					background-position: left center;
					background-repeat: no-repeat;
					background-size: 19px 27px;
					display: inline-block;
					padding-left: 40px;
		

			}

			&.faculty-website a {
	

					background-image: url('../assets/img/icon-fac-link.svg');
					background-position: left center;
					background-repeat: no-repeat;
					background-size: 28px 28px;
					display: inline-block;
					padding-left: 40px;
		

			}
		}



























}


.faculty-pubs ul li p {
	font-size: 18px !important;
	margin-bottom: 0;
}
.single-faculty .section-row {
	height: 170px;
}