body.home .feature {
  color: $white;
  display: relative;

  li {
    list-style-type: none;
  }

  .feature-image {
    
    
    

    @media #{$medium-up} {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      height: 500px;
      overflow: hidden;
      padding-top: 50px;
      position: relative;
      width: 100%;
    }

  }

  .feature-info-container {

    @media #{$medium-up} {
      position: relative;
      bottom: auto;
    }

  .feature-info {
    position: relative;
    
    h2 {

      @include encode_black;
      color: $white;
      font-size: rem-calc(18);
      line-height: 1.2;
      text-align: center;
      text-transform: uppercase;
     

      @media #{$medium-up} {
        
        background-image: url('../assets/img/divider-white-single.svg');
        background-position: bottom left;
        background-repeat: no-repeat;
        background-size: 60px 5px;
        
        font-size: rem-calc(27);
        
        margin-bottom: 20px;
        padding-bottom: 25px;
          
      }

    }

    p.feature-excerpt {
      @include o_sans_bold;
      font-size: rem-calc(18);
      margin-bottom: 25px;

      @media #{$small-only} {
        font-size: rem-calc(14);
        margin-bottom: 20px;
        margin-top: 10px;  
        text-align: center;
      }

    }
  }

  .feature-content {
    background-color: rgba(0,0,0,0.77);
    display: inline-block;
    float: left;
    padding: rem-calc(20) rem-calc(20) rem-calc(50) rem-calc(20);

    @media #{$medium-up} {
      border: solid 13px #fff;
      width: 480px;
    }

    @media #{$small-only} {
      text-align: center;
      padding: rem-calc(10) rem-calc(10) rem-calc(26) rem-calc(10);
    }

  
}


.feature-image-caption {
  font-size: rem-calc(10);
  margin-right: rem-calc(16);
}

p {
  margin-bottom: rem-calc(10);
}

}
}











.slick-slider {
  margin-bottom: 0;
}

.playpause {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 500;
}

.feature-controls {


  @media #{$small-only} {
    background-color: #fff;
    padding: 6px 0 0 2px;
    position: absolute;
    top: 50px;
    width: 100%;
    z-index: 1000;
  }
  @media #{$medium-up} {
    background-color: #fff;
    border-top: solid 6px #fff;
    display: inline-block;
    padding: 6px 0 0 2px;
    width: 73px;
    float: left;
  }

  .slick-p,
  .slick-n {
    background-position: left center;
    background-repeat: no-repeat;
    display: inline-block;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;

    @media #{$medium-up} {
      width: 27px;
      height: 67px !important;
    }

  }

  .slick-n {
    background-image: url('/wp-content/themes/coenv-fish/assets/img/arrow-r.svg');
    background-position: 9px center;
    width: 40px;

    @media #{$medium-up} {
      border-left: 3px solid #ccc;
    }

    @media #{$small-only} {
      float: right;
    }

  }
  .slick-p {
    background-image: url('../assets/img/arrow-l.svg');


    @media #{$small-only} {
      float: left;
    }

  }
}

.slick-dots {
  bottom: rem-calc(10);

  li button {
    background: transparent;
    border: solid 4px #fff;
  }

  li button:before {
    content:"";
  }

  li.slick-active button {
    background:rgba(255,255,255,0.75);
  }

  @media #{$small-only} {
      display: none !important;
    }


}



#feature-mask {
      position: absolute;
    top: 0px; left: 0px;
    width: 100%;
    height: 100%;

    pointer-events: none; /* to make clicks pass through */

    box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.4);
}