/*	Footer
		======================================================================== */
.footer-row {
    max-width: none;
}

.site-footer {
	@extend .clearfix;
	padding-top: rem-calc(25);
	background: $bg-dk;

	a:hover {
		color: #fff !important;
	}
	
	ul, ol, dl {
			font-size: rem-calc(12)!important;
	}

	.site-footer__header {
		margin-bottom: rem-calc(16);

		@media print {
			display: none;
		}

		h2 {
			position: relative;
			z-index: 0;
			margin: 0;
			color: $white;
			@include font-size(20);
			@include line-height(20);
			@include encode_cb;

		} // h2

	} // .site-footer__header

	.unit-contact {
		@include rem('margin-bottom', 3);
		p {
			color: rgb(187, 187, 187);
			margin-bottom: 0;
			a { 
			color: rgb(187, 187, 187);

			}
		}

	}
	form.search-form,
	form.search-form .field-wrap {
		width: 80%;
	}
	.footer-nav {
		display: none;
		
		@media #{$medium-up} {
			display: block;
			float: right;
			@include rem('padding-left', 3);
		}

		@media print {
			display: none;
		}

		.footer-nav__title {
			display: none;
		}

		.menu-footer-units {
			margin: 0;
			padding: 0;
			list-style: none;
			column-count: 2;
			-webkit-column-count: 2;
			-moz-column-count: 2;

			li {
                line-height: rem-calc(28);
                border-bottom: #292827 1px solid;
                border-top: #43423f 1px solid;
                &:nth-child(7) {
                    border-bottom: none;
                }
                &:nth-child(13) {
                    border-bottom: none;
                }
                &:nth-child(1) {
                    border-top: none;
                }
                &:nth-child(8) {
                    border-top: none;
                }
                &:nth-child(10) {
                    padding-bottom: rem-calc(2);
                }
			}

			a {
				display: inline-block;
				text-decoration: none;
				color: $text-white;
			}

			a:hover {
				color: #fff !important;
			}

		} // .menu-footer-units

	} // .footer-nav

	.footer__info {
		form {
			@media print {
				display: none;
			}

			input[type="text"] {
				font-size: rem-calc(12);
				background: #666;
				color: #fff;
				@include placeholder {
					color: $text-very-lt;
				}
			}

			button[type="submit"] {
				background: #666;

				i {
					@include font-size(16);
					color: $text-very-lt;
				}

				&:hover i {
					color: #fff;
				}

			} // button[type="submit"]

		} // form

		.social-buttons {
			.button {
				background: #666;
				padding: rem-calc(3.5) rem-calc(9);

				i {
					@include font-size(16);
					color: $text-very-lt;
				}

				&:hover i {
					color: #fff;
				}
			}
		}

		.top-links {
			margin: 0;
			padding: 0;
			list-style: none;

			@media print {
				display: none;
			}

			a {
				text-decoration: none;
				color: $text-white;
			}

		} // .top-links

	} // .footer__info

    .footer-footer {
        margin-top: rem-calc(15);
        
        .uw-footer {
            background-image: url("../assets/img/black-white-suz.jpg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            clear: both;
            @extend .clearfix;
            padding: rem-calc(22) 0 rem-calc(14) 0;
            color: $text-white;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 0.1em;

           a {
                color: #bbb;
                text-decoration: none;
                &:hover {
                  color: #fff !important;
                }
            }

            .be-boundless {
                text-align: center;
                height: 150px;
                padding: rem-calc(32) 0;

                img:first-of-type {
                    @include rem('padding-bottom', 1.3);
                }

                svg:hover #be-boundless-svg {
                    fill: $white;
                }

                .be-boundless-svg-whole {
                    width: 200px;
                }
            }
            
            .copyright, .menu-footer-links {
                text-align: center;
            }

            .copyright {
                font-size: rem-calc(10);
                margin-top: rem-calc(3);
                @media #{$medium-up} {
                    float: left;
                    display: inline-block;
                    text-align: left;
                }

            } // .copyright
        
            .uw-footer-links {
                @media #{$medium-up} {
                    text-align: right;
                }
            }

            .menu-footer-links {
                margin: 0;
                list-style: none;

                @media #{$medium-up} {
                    display: inline-block;
                    padding-left: rem-calc(30);
                }

                @media print {
                    display: none;
                }

                li {
                    display: inline-block;
                    font-size: rem-calc(10)!important;

                    @media #{$medium-up} {
                        @include rem('margin', 0, 0, 0, 1);
                    }

                } // li

                a {
                    text-decoration: none;
                    padding: 0 rem-calc(6);
                }

            } // .menu-footer-links

        } // .uw-footer

    }

} // .site-footer