
// mobile header

.tab-bar {
    margin-bottom: 0;
    text-align: center;
    background: $white;
    border-bottom: 1px solid $border;
    
    .tab-bar-section {
        padding-left: rem-calc(30);
        margin: auto;
    }

    
    h1 {
        color: $text!important;
        margin-top: rem-calc(15);
        text-align: left;
        @media #{$small-up} {
            font-size: rem-calc(12)!important;
            line-height: rem-calc(14);
        }
    }
    .right-small, .left-small {
        border: none;
    }

    .mobile-logo {
        color: $accent;
        font-size: rem-calc(20);
        
        #mobile-logo {
            width: rem-calc(55);
            fill: $accent;
            margin-top: rem-calc(-10);
            margin-left: rem-calc(10);
        }
    }
    
    .menu-icon span::after {
        box-shadow: 0 0px 0 1px #000,0 7px 0 1px #000,0 14px 0 1px #000;
    }

}

// desktop header



.title-row {
height: 126px;
    overflow: hidden;






}
.top-bar-container {
    margin-bottom: 0;
    -moz-box-shadow:     1px 4px 9px -6px #000;
    -webkit-box-shadow:  1px 4px 9px -6px #000;



}

.title-area {
    margin: 0;
    list-style: none;
}



.name {
    h1 {
        @include encode;
        font-weight: 500!important;
        float: left;
        margin: rem-calc(18) 0 -3px 0;
        a {
            color: $text;
        }
    }
}

.units {
    list-style: none;
    margin: rem-calc(51) 0 0 rem-calc(18);
    padding-top: 4px;
    
    .slash {
        margin: 0 rem-calc(12);
    }
    
    .uw-name {
        margin-right: rem-calc(16);
    }
}


.title-area {
  list-style: none;
  margin-left: 0;
}
.breadcrumbs {
  @include rem('margin-bottom',2);
}
.breadcrumbs>* {
  line-height: rem-calc(16);
}



// Production styles

.full-header {
    background: $black;
    border-bottom: solid 7px #4b2e83;
    height: 125px;
    width: 100%;




    h1 {

        @include encode_black;
        float: left;
        letter-spacing: .15rem;
        margin: rem-calc(18) 0 -3px 0;

        text-transform: uppercase;

        @media #{$medium-up} {
            font-size: rem-calc(27);
            
        }
        @media #{$small-only} {
            font-size: rem-calc(16);
        }
        
        a {
            color: $white;
        }
    }
    #desktop-logo {
        fill: $white;
        width: rem-calc(157);
        height: rem-calc(110);
        margin-right: rem-calc(29);
        vertical-align: middle;
        
        span {
            @extend .visuallyhidden;
        }
    }

    .units {
        background-image: url('/wp-content/themes/coenv-fish/assets/img/logotype-divider.png');
        background-position: top left;
        background-repeat: no-repeat;
        padding-left: 29px;
        text-align: left;
        a {

        img {

            &.logotype-college {
            height: 12px;
            width: 205px;

            }
            &.logotype-uw {
                 height: 13px;
                width: 189px;


            }



        }


    }
}
}
.page-row {
    background-repeat: no-repeat;
    background-size: cover;
    height: 375px;
    position: relative;
}

.page-template-default,
.page-template-faculty,
.page-template-news,
.single-faculty,
.single-post,
.single-student_blog {

     .full-intro {
    border-top: 0;
    font-size: 25px;
    padding: 48px 0 30px 0;
    text-align: center;
}

}

.page-template-faculty .article {
margin-bottom: 0;
}



.page-template-section-page .full-intro {
       border-top: 0;
    font-size: 25px;
    padding: 53px 0 35px 0;
    text-align: center; 
}

.section-row {
    background-position: center top;
    background-size: cover;
    position: relative;
    height: 375px;
    width: 100%;

    .container-section-title {

        margin-bottom: -34px;
        position: absolute;
        bottom: 0;


        display: inline-block;
        text-align: center;
        width: 100%;

     h1,h2 {
        background-color: #fff;
        border: solid 2px #ccc;
        display: inline-block;
        padding: 5px 20px;
        margin: 0 auto;
        


        
        @include encode_black;
        color: #000;
        font-size: 40px;
        text-transform: uppercase;

    a {
        color: #000;
    }
        
    }

    }

   
}
.single-intranet_page .section-row {
    background-color: #999;
    height: 200px;
}
.page-template-default .page-row {
    height: 200px;
}
