// mobile header

.tab-bar {
    background: $white;
    height: 51px;
    margin-bottom: 0;
    
    .tab-bar-section {
        
        margin: 0 auto;

        &.middle {
            text-align: center;
            margin-left: 20px;
        }

    }

    h1 {
        @include o_sans;
        color: $black;
        font-size: rem-calc(14);
        line-height: rem-calc(17);
        letter-spacing: .05em;
        padding-left: 15px;
        padding-top: 10px;
        text-align: left;
        text-transform: uppercase;



        a {
            color: $black;
        }
    }
    .right-small, .left-small {
        border: none;

    }
    .right-small {
        margin-top: 4px;
    }
    .mobile-logo-container {
        color: $accent;
        font-size: rem-calc(20);
        padding-top: 4px;
        
        #mobile-logo {
            display: block;
            width: 74px;
            height: 50px;
            fill: $accent;
            margin-bottom: -10px;
            margin-right: 30px;
            z-index: 10000;
        }
    }
   
    .menu-icon span::after {
        box-shadow: 0 0px 0 1px #000,0 7px 0 1px #000,0 14px 0 1px #000;
    }

}

// desktop header



.title-row {
height: 126px;
    overflow: hidden;






}
.top-bar-container {
    margin-bottom: 0;
    -moz-box-shadow:     1px 4px 9px -6px #000;
    -webkit-box-shadow:  1px 4px 9px -6px #000;



}

.title-area {
    margin: 0;
    list-style: none;
}



.name {
    h1 {
        @include encode;
        font-weight: 500!important;
        float: left;
        margin: rem-calc(18) 0 -3px 0;






        a {
            color: $text;
        }
    }
}




.title-area {
  list-style: none;
  margin-left: 0;
}
.breadcrumbs {
  @include rem('margin-bottom',2);
}
.breadcrumbs>* {
  line-height: rem-calc(16);
}






// Production styles

.title-row {
    @media #{$medium-only} {
        margin-bottom: -100px;
        }


    
}

.full-header {
    background-color: $black;
    border-bottom: solid 7px #4b2e83;
    height: 126px;

    .name {
    h1 {
        @include encode_black;
        font-weight: 500!important;
        text-transform: uppercase;
        font-size: rem-calc(20)!important;
        margin-top: rem-calc(18);
        margin-bottom: -1px;
        padding-left: 25px;
        @media #{$large-up} {
            font-size: rem-calc(30)!important;
        }


        float: left;

        a {
            color: $white;
        }
        img {
            height: 108px;
        }
        span {
             display: inline-block;
            padding-left: 20px;


             @media #{$medium-only} {
            padding-left: rem-calc(5);   


        }


        }
    }
    #logo {
        

        @media #{$medium-only} {
        width: rem-calc(133);
        height: rem-calc(90);



        }
    }

    .units {
    background-image: url('/wp-content/themes/coenv-fish/assets/img/logotype-divider.png');
        background-position: center left;
        background-repeat: no-repeat;
    float: right;
    list-style: none;
    margin: rem-calc(48) 0 0 0;
    padding-left: 40px;
    padding-top: 5px;
    
    .slash {
        margin: 0 rem-calc(12);
    }
    
    .uw-name {
        margin-right: rem-calc(16);
    }
    }
}



}
.title-row .columns {
    padding-left: 0;
    padding-right: 0;
}
.page-row {
    background-repeat: no-repeat;
    background-size: cover;
    height: 375px;
    position: relative;
}

.page-template-default,
.page-template-faculty,
.page-template-news,
.single-faculty,
.single-post,
.single-student_blog {

     .full-intro {
    border-top: 0;
    font-size: 25px;
    padding: 48px 0 30px 0;
    text-align: center;
}

}

.page-template-faculty .article {
margin-bottom: 0;
}



.page-template-section-page .full-intro {
       border-top: 0;
    font-size: 25px;
    padding: 53px 0 35px 0;
    text-align: center; 
}

.section-row {
    background-position: center top;
    background-size: cover;
    
    border-bottom: solid 2px #ccc;
    box-shadow: inset 1px 4px 9px -6px;
    height: rem-calc(140);
    position: relative;
    
    width: 100%;

    @media #{$medium-up} {
        background-position: center top;
        background-size: cover;
        height: 375px;





    }





    .container-section-title {

        margin-bottom: -24px;
        position: absolute;
        bottom: 0;


        display: inline-block;
        text-align: center;
        width: 100%;

        @media #{$medium-up} {
            margin-bottom: -34px;
        }

     h1,h2 {
        background-color: #fff;
        border: solid 2px #ccc;
        display: inline-block;
        font-size: rem-calc(26);
        padding: 5px 20px;
        margin: 0 auto;
        


        
        @include encode_black;
        color: #000;
        
        text-transform: uppercase;

        @media #{$medium-up} {

            font-size: rem-calc(40);

        }






    a {
        color: #000;
    }
        
    }

    }

   
}
.page-template-student-blog .section-row {
    height: 166px;
}
.error404 .section-row,
.search-results .section-row,
.search-no-results .section-row {
    background-image: url('/wp-content/uploads/sites/4/2015/07/155.jpg');
    background-color: #999;
    background-position: center 45%;
    background-size: cover;
    position: relative;
    height: 200px;  
}
.single-intranet_page .section-row {
    background-image: url('/wp-content/uploads/sites/4/2015/07/155.jpg');
    background-color: #999;
    background-position: center 45%;
    background-size: cover;
    position: relative;
    height: 200px;
}
.single-student_blog .section-row {
    background-image: url('/wp-content/uploads/sites/4/2014/08/SAFS_News.jpg');
    background-color: #999;
    background-position: center 45%;
    background-size: cover;
    position: relative;
    height: 200px;
}
.page-template-default .section-row {
    height: 166px;
}
