// mobile header
.tab-bar {
    margin-bottom: 0;
    text-align: center;
    background: $white;
    border-bottom: 1px solid $border;
    
    .tab-bar-section {
        padding-left: rem-calc(30);
        margin: auto;
    }

    
    h1 {
        color: $text!important;
        margin-top: rem-calc(15);
        font-size: rem-calc(28)!important;
        text-align: left;
        @media #{$small-up} {
            font-size: rem-calc(14)!important;
            line-height: rem-calc(18);
        }
    }
    .right-small, .left-small {
        border: none;
    }

    .mobile-logo {
        color: $accent;
        font-size: rem-calc(20);
        
        #logo {
            width: rem-calc(55);
            fill: $accent;
            margin-top: rem-calc(-10);
            margin-left: rem-calc(10);
        }
    }
    
    .menu-icon span::after {
        box-shadow: 0 0px 0 1px #000,0 7px 0 1px #000,0 14px 0 1px #000;
    }

}

// desktop header

.title-row {
    max-width: none;
    border-bottom: #d7dee5 1px solid;
    background: $white;
}

.title-area {
    margin: 0;
    list-style: none;
}
    #top-nav #menu-buttons li a {
background: #b82828;
color: #fff;
}
#top-nav #menu-buttons li.give a i {
position: relative;
top: .1em;
margin-right: 2.8px;
margin-right: .2rem;
}
#heart{
    fill: #ffffff!important;
    height: 10px;
    width: 10px;
    .path1 {
        fill: #fff;
    }
}
.tab-bar {
    margin-bottom: 0;
    text-align: center;
    
    .tab-bar-section {
        left: 0;
        right: 0;
        margin: 0 15%;
    }
    
    h1 {
        font-size: rem-calc(28)!important;
        @media #{$small-up} {
            font-size: rem-calc(14)!important;
            max-width: rem-calc(250);
            line-height: rem-calc(18);
        }
    }
}
#heart {
    width: 10px;
    height: 10px;
}
.name {
    h1 {
        @include encode;
        font-weight: 500!important;
        font-size: rem-calc(18)!important;
        @media #{$large-up} {
            font-size: rem-calc(23)!important;
        }
        float: left;
        margin: rem-calc(20) 0;
        a {
            color: $text;
        }
    }
    #logo {
        fill: $accent;
        width: rem-calc(108px);
        height: rem-calc(73px);
        margin-right: rem-calc(10);
        vertical-align: middle;
    }
}

.units {
    float: right;
    list-style: none;
    margin: rem-calc(30) rem-calc(18);
    
    .slash {
        margin: 0 rem-calc(12);
    }
    
    .uw-name {
        margin-right: rem-calc(16);
    }
}

#logo {
	span {
		@extend .visuallyhidden;
	}
}
.section-title {
	padding: 0 1rem;
	margin: 0;
	@include font-size(24);

	h1 {
		@include rem('line-height', 3); // 48
		@include font-size(32);
		margin: 0;
		padding: 0;
	}
}
.title-area {
	list-style: none;
	margin-left: 0;
}
.breadcrumbs {
	@include rem('margin-bottom',2);
}
.breadcrumbs>* {
	line-height: rem-calc(16);
}