#logo {
	span {
		@extend .visuallyhidden;
	}
}
.section-title {
	background-color: #f4f4f4;
	border-top: 1px solid $border;
	border-right: 1px solid $border;
	border-left: 1px solid $border;
	padding: 0 1rem;
	margin: 0;
	@include font-size(24);

	h1 {
		@include rem('line-height', 3); // 48
		@include font-size(32);
		margin: 0;
		padding: 0;
	}
}
.title-area {
	list-style: none;
	margin-left: 0;
}
.breadcrumbs {
	@include rem('margin-bottom',2);
}
.breadcrumbs>* {
	line-height: rem-calc(16);


}