#logo {
	span {
		@extend .visuallyhidden;
	}
}
.section-title {
	padding: 0 1rem;
	margin: 0;
	@include font-size(24);

	h1 {
		@include rem('line-height', 3); // 48
		@include font-size(32);
		margin: 0;
		padding: 0;
	}
}
.title-area {
	list-style: none;
	margin-left: 0;
}
.breadcrumbs {
	@include rem('margin-bottom',2);
}
.breadcrumbs>* {
	line-height: rem-calc(16);
}

// mobile header
.tab-bar {
    background: $white;
    border-bottom: 1px solid $border;
    
    h1 {
        color: $text!important;
    }
    
    .right-small {
        border-left: none;
    }
    
    .menu-icon span::after {
        box-shadow: 0 0px 0 1px #000,0 7px 0 1px #000,0 14px 0 1px #000;
    }
}