
// mobile header

.tab-bar {
    margin-bottom: 0;
    text-align: center;
    background: $white;
    border-bottom: 1px solid $border;
    
    .tab-bar-section {
        padding-left: rem-calc(30);
        margin: auto;
    }

    
    h1 {
        color: $text!important;
        margin-top: rem-calc(15);
        text-align: left;
        @media #{$small-up} {
            font-size: rem-calc(12)!important;
            line-height: rem-calc(14);
        }
    }
    .right-small, .left-small {
        border: none;
    }

    .mobile-logo {
        color: $accent;
        font-size: rem-calc(20);
        
        #mobile-logo {
            width: rem-calc(55);
            fill: $accent;
            margin-top: rem-calc(-10);
            margin-left: rem-calc(10);
        }
    }
    
    .menu-icon span::after {
        box-shadow: 0 0px 0 1px #000,0 7px 0 1px #000,0 14px 0 1px #000;
    }

}

// desktop header



.title-row {
    background: $black;
}

.top-bar-container {
    border-top: #d7dee5 1px solid;
    margin-bottom: 0;
}

.title-area {
    margin: 0;
    list-style: none;
}



.name {
    h1 {
        @include encode;
        font-weight: 500!important;
        float: left;
        margin: rem-calc(18) 0 -3px 0;
        a {
            color: $text;
        }
    }
    #desktop-logo {
        fill: $white;
        width: rem-calc(157);
        height: rem-calc(110);
        margin-right: rem-calc(10);
        vertical-align: middle;
        
        span {
            @extend .visuallyhidden;
        }
    }
}

.units {
    float: right;
    list-style: none;
    margin: rem-calc(30) 0 0 rem-calc(18);
    
    .slash {
        margin: 0 rem-calc(12);
    }
    
    .uw-name {
        margin-right: rem-calc(16);
    }
}

.section-title {
    padding: 0 1rem;
    margin: 0;     
    a {
        font-size: rem-calc(28);
        @include encode_cb;

        @media #{$medium-up} {
            font-size: rem-calc(36);
            max-width: 28%;
        }
    }
    }
.title-area {
  list-style: none;
  margin-left: 0;
}
.breadcrumbs {
  @include rem('margin-bottom',2);
}
.breadcrumbs>* {
  line-height: rem-calc(16);
}



// Production styles

.full-header {
    background: $black;
    border-bottom: solid 7px #4b2e83;
    height: 125px;
    width: 100%;


    h1 {

        @include encode_black;
        float: left;
        letter-spacing: .15rem;
        margin: rem-calc(18) 0 -3px 0;
        text-transform: uppercase;

        @media #{$medium-up} {
            font-size: rem-calc(28);
            
        }
        @media #{$small-only} {
            font-size: rem-calc(16);
        }
        
        a {
            color: $white;
        }
    }
    #desktop-logo {
        fill: $white;
        width: rem-calc(157);
        height: rem-calc(110);
        margin-right: rem-calc(29);
        vertical-align: middle;
        
        span {
            @extend .visuallyhidden;
        }
    }

    .units {
        text-align: left;
        a {

        img {

            &.logotype-college {
            height: 12px;
            width: 205px;

            }
            &.logotype-uw {
                 height: 13px;
                width: 189px;


            }



        }


    }
}















}

