// Homepage Widgets

.home {

 a.button {
            font-size: 1rem;
        }
    .widget_coenv_base_index_dates ul {
        margin-left: 1rem;
    }

    ul.widget_links {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
         display: inline;
         margin: 0 1rem 0 0;
        padding: 0;



        }
    }

    .list-news-small {
        list-style: none;
    }

    .widget_content {
        ul {
            list-style: none;	
        }
    }
    
    .widgettitle {
        display: none;
    }
    
    

    .home-news-section {
        .featured-thumbnail {
            max-height: rem-calc(350);
            margin-bottom: rem-calc(10);
            overflow: hidden;
        }
        :not(:last-child) .small-news {
                margin-bottom: rem-calc(30);	
        }

    }
    div[role=main] .solid-widget article {

        padding-right: 60px;

    }
}
.home-news-section .featured-thumbnail {
    height: 200px;
    overflow: hidden;
}
.feature {
    color: $white;
    display: relative !important;

    
    ul li {
        list-style-type: none;
    }
    
    .feature-image {
        width: 100%;
        height: 563px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
        padding-top: 50px;
        position: relative;
    }
    
    .feature-info-container {
        
        .feature-info {
            
            position: relative;

            @media #{$small-only} {
                width: 50%;

                h2 {
                    font-size: rem-calc(14);
                }
                p.feature-excerpt {
                    font-size: rem-calc(12);
                }


             }
        }
        .feature-content {
            background-color: rgba(0,0,0,0.77);
            border: solid 13px #fff;
            display: inline-block;
            float: left;
            height: 400px;
            padding: rem-calc(16);
            width: 480px;
        }
        .feature-controls {
            display: inline-block;
            float: left;
            padding: rem-calc(16);
            width: 205px;
        }
        
        h2 {
            
            color: $white;
            font-size: rem-calc(32);
            margin: 0;
        }
        
        
        .button {
            margin: 0 rem-calc(5) 0 0;
        }
        
        .feature-image-caption {
            font-size: rem-calc(10);
            margin-right: rem-calc(16);
        }
        
        p {
            margin-bottom: rem-calc(10);
        }
        
    }
}
.slick-prev:before, .slick-next:before {
    color: #000;    
    font-size: rem-calc(60);

}
.slick-prev, .slick-next {
        top: 40%;
}
.slick-prev {
    height: 60px;
    left: 2%;
    width: 60px;
}
.slick-next {
    height: 60px;
    right: 2%;
    width: 60px;
}
.playpause {
position: absolute;
top: 0;
left: 0;
    z-index: 500;
}

// Production styles


.full-feature {
    width: 100%;
    background-color: purple;

    .feature-content h2 {
      @include encode_black;
      line-height: 1.4;
      text-transform: uppercase;
    }

.my-slick-dots {

  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  width: 100%;
}
.my-slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;

  button {
      background-color: transparent !important;
      border-style: solid;
      border-width: 4px;
      cursor: pointer;
      font-family: "open-sans","Helvetica Neue",Helvetica,Arial,sans-serif;
      font-weight: normal;
      line-height: normal;
      font-size: 8px !important;
      margin: 0 0 1.42857rem;
      position: relative;
      text-decoration: none;
      text-align: center;
      border-radius: 0;
      display: inline-block;
      padding-top: 0;
      padding-right: 5px;
      padding-bottom: 0;
      padding-left: 5px;
      font-size: 1.14286rem;
      background-color: #5f3e8d;
      border-color: #fff;
      color: #ffffff;
      transition: background-color 300ms ease-out;
      height: 18px;
      width: 13px;

      &:hover {
        background-color: #e1e1e1 !important;
      }



  }




}
.feature-excerpt {
  @include o_sans_bold;
  font-size: rem-calc(18);
}

}








