// Homepage Widgets

.home {
 a.button {
  font-size: 1rem;
 }
 .widget_coenv_base_index_dates ul {
  margin-left: 1rem;
  }

    ul.widget_links {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
          display: inline;
          margin: 0 1rem 0 0;
          padding: 0;
        }
    }

    .list-news-small {
        list-style: none;
    }

    .widget_content {
        ul {
            list-style: none;	
        }
    }
    
    .widgettitle {
        display: none;
    }
    
    

    .home-news-section {
      padding-bottom: 60px;
      text-align: left;
        .featured-thumbnail {
             border-bottom: 5px solid #ebebeb;
        }
        

    }
    div[role=main] .solid-widget article {

        padding-right: 60px;

    }
}
.home-news-section .featured-thumbnail {

}

.feature {
    color: $white;
    display: relative;
    
    li {
      list-style-type: none;
    }
    
    .feature-image {
        width: 100%;
        height: 500px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
        padding-top: 50px;
        position: relative;


        @media #{$small-only} {
         height: 350px;

          padding-top: 0;
        }

       

    }

    .feature-info-container {
    
      position: absolute;
      bottom: 0;

      @media #{$medium-up} {

      position: relative;
      bottom: auto;


      }
        
        .feature-info {
            
            position: relative;

            h2 {

              @include encode_black;
              background-image: url('/wp-content/themes/coenv-fish/assets/img/divider-white-dbl.svg');
              background-position: bottom left;
              background-repeat: no-repeat;
              color: $white;
              font-size: rem-calc(27);
              line-height: 1.2;
              margin-bottom: 0 0 20px 0;
              padding-bottom: 20px;
              text-transform: uppercase;



              

              @media #{$small-only} {
              background-position: bottom center;
              font-size: rem-calc(18);
              text-align: center;
              }
            }

            p.feature-excerpt {
              @include o_sans_bold;
              font-size: rem-calc(16);
              margin-bottom: 30px;
              margin-top: 30px;


              @media #{$small-only} {
                font-size: rem-calc(14);
                margin-bottom: 20px;
                margin-top: 10px;  
                text-align: center;
              }

            }

    
        }









        .feature-content {
          background-color: rgba(0,0,0,0.77);
          display: inline-block;
          float: left;
          padding: rem-calc(20) rem-calc(20) rem-calc(26) rem-calc(20);

          @media #{$medium-up} {
            border: solid 13px #fff;
            width: 480px;
          }
          @media #{$small-only} {
            text-align: center;
            padding: rem-calc(10) rem-calc(10) rem-calc(26) rem-calc(10);
              }

          .button {
            @include o_sans_bold;
            background-color: #82cfcc;
            border: solid 4px #b2eeec;
            border-radius: 0;
            font-size: rem-calc(11);
            margin-top: 0;
            margin-bottom: 0;
            margin-left: 0;
            margin-right: 12px;
            padding: rem-calc(4);

            text-transform: uppercase;

            &:first-child {
              margin-right: 10px;
            }

            @media #{$medium-up} {
              font-size: 12px;
              padding: rem-calc(6) rem-calc(8);
            }





          }
        }
        
        
        
        
        
        .button {
            margin: rem-calc(5);
        }
        
        .feature-image-caption {
            font-size: rem-calc(10);
            margin-right: rem-calc(16);
        }
        
        p {
            margin-bottom: rem-calc(10);
        }
        
    }
}
.slick-prev:before, .slick-next:before {
    color: $black;    
    font-size: rem-calc(60);

}
.slick-prev, .slick-next {
        top: 40%;
}
.slick-prev {
    height: 60px;
    left: 2%;
    width: 60px;
}
.slick-next {
    height: 60px;
    right: 2%;
    width: 60px;
}
.playpause {
position: absolute;
top: 0;
left: 0;
    z-index: 500;
}















// Production styles


.full-feature {
   
    background-color: $black;
    max-height: 563px;
    overflow: hidden;
    position: relative;
    width: 100%;


    .feature-content h2 {
      @include encode_black;
      line-height: 1.2;
      text-transform: uppercase;
    }

.slick-slider {
  margin-bottom: 0;
}
.my-slick-dots {

  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  width: 100%;
}
.my-slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;

  button {
      background-color: transparent !important;
      border-style: solid;
      border-width: 4px;
      cursor: pointer;
      display: inline-block;
      font-family: "open-sans","Helvetica Neue",Helvetica,Arial,sans-serif;
      font-weight: normal;
      line-height: normal;
      font-size: 8px !important;
      margin: 0 0 1.42857rem;
      position: relative;
      text-decoration: none;
      text-align: center;
      border-radius: 0;
      display: inline-block;
      padding-top: 0;
      padding-right: 5px;
      padding-bottom: 0;
      padding-left: 5px;
      font-size: 1.14286rem;
      background-color: #5f3e8d;
      border-color: #fff;
      color: #ffffff;
      transition: background-color 300ms ease-out;
      height: 18px;
      width: 13px;
     text-indent:-9999px;

      &:hover {
        background-color: #e1e1e1 !important;
      }



  }




}


}

.feature-controls {






  

  @media #{$medium-up} {
    background-color: #fff;
    border-top: solid 6px #fff;
    display: inline-block;
    padding: 6px 0 0 2px;
    width: 73px;
    float: left;
  }



  .slick-p,
  .slick-n {
     background-position: left center;
    background-repeat: no-repeat;
    display: inline-block;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;

    @media #{$medium-up} {
      width: 27px;
      height: 67px !important;
    }
  }
  .slick-n {
    background-image: url('/wp-content/themes/coenv-fish/assets/img/arrow-r.svg');
    background-position: 9px center;
    
    width: 40px;

    @media #{$medium-up} {

      border-left: 3px solid #ccc;



    }




  }
  .slick-p {
    background-image: url('../assets/img/arrow-l.svg');
  }
}

.full-intro {
    width: 100%;
    background-color: #f2f2f2;
    background-image: url('/wp-content/themes/coenv-fish/assets/img/bg-intro.png');
    border-top: solid 10px #f29068;
    padding: 46px 10px;

    @media #{$small-only} {

        padding: 20px 10px;
        text-align: center;

      }



    .widget-title {
      margin-bottom: 30px; 
      margin-right: 30px;
      width: 100%;
      @media #{$small-only} {
        margin-bottom: 20px;


      }
      @media #{$large-up} {
        float: left;
        width: 20%;



      }




      h4 {
        background-image: url('/wp-content/themes/coenv-fish/assets/img/divider-orange.svg');
        background-position: bottom left;
        background-repeat: no-repeat;

        font-size: rem-calc(50);
        line-height: 1;
        margin-top: 0;
        padding-bottom: 42px;
        padding-top: 0;


        @media #{$small-only} {
              background-position: bottom center;
              font-size: rem-calc(18);
              padding-bottom: 22px;
              text-align: center;
              text-transform: uppercase;
              }





      }
      h4 a {
      @include encode_black;
        color: black;
      }

    }
    .widget-content {
  
    @include o_sans;
    width: 100%;

    @media #{$large-up} {

      float: right;
    width: 70%;


    }

    p {
    font-size: rem-calc(18);


      @media #{$small-only} {

      font-size: rem-calc(14);
      margin-bottom: 0;


      }




    }
      .intro {

      @include o_sans_bold;
      font-size: rem-calc(18);

      @media #{$small-only} {

      font-size: rem-calc(14);


      }




      }



    }

    .button {
    @include o_sans_bold;
              background-color: $orange;
              border: solid 4px $orange-lt;
              border-radius: 0;
              font-size: 14px;

              text-transform: uppercase;



                @media #{$small-only} {

      margin-bottom: 0;


      }










              &:first-child {
                margin-right: 10px;
              }
    }

}




.full-connect {
  background-color: #464646;
  border-top: solid 12px $orange;
  padding: 40px 20px;
  text-align: center;
  width: 100%;


  @media #{$small-only} {
    padding: 10px;

  }

  h2 {
     @include encode_black;
     background-image: url('/wp-content/themes/coenv-fish/assets/img/divider-white-dbl.svg');
     background-position: bottom center;
     background-repeat: no-repeat;
     color: #fff;
    font-size: rem-calc(26);
    padding-bottom: 30px;
    text-transform: uppercase;


    @media #{$small-only} {

      font-size: rem-calc(18);

    }


  }
.social-buttons {
  margin-top: 40px;
  display: inline-block;
}
 a.icon {
  display: inline-block;
  float: left;
  margin-left: 40px; 
  text-indent: -10000px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);

  &:first-child {
    margin-left: 0;
  }
  }



a.facebook {
  background-image: url('/wp-content/themes/coenv-fish/assets/img/icon-facebook.svg');
  background-position: top left;
  background-repeat: no-repeat;
  height: 30px;
  width: 13px;
}

a.twitter {
  background-image: url('/wp-content/themes/coenv-fish/assets/img/icon-twitter.svg');
  background-position: top left;
  background-repeat: no-repeat;
  height: 24px;
  width: 31px;
}

a.email-updates {
  background-image: url('/wp-content/themes/coenv-fish/assets/img/icon-email.svg');
  background-position: top left;
  background-repeat: no-repeat;
  height: 23px;
  width: 30px;
}

a.tumblr {
background-image: url('/wp-content/themes/coenv-fish/assets/img/icon-tumblr.svg');
background-position: bottom left;
background-repeat: no-repeat;
height: 50px;
width: 30px;





}

a.rss {
background-image: url('/wp-content/themes/coenv-fish/assets/img/icon-rss.svg');
background-position: bottom left;
background-repeat: no-repeat;
height: 50px;
width: 30px;





}




a.feed {
background-image: url('/wp-content/themes/coenv-fish/assets/img/icon-feed.svg');
background-postition: top left;
background-repeat: no-repeat;

height: 30px;
width: 30px;





}




}
.full-news-events {
  background-image: url('/wp-content/themes/coenv-fish/assets/img/bg-home-intro.png');
  border-bottom: solid 12px $teal;
  border-top: solid 12px $teal;
  padding-top: 30px;
  text-align: center;
  width: 100%;

  h2 {
    @include encode_black;
    background-image: url('/wp-content/themes/coenv-fish/assets/img/divider-teal.svg');
    background-repeat: no-repeat;

    font-size: rem-calc(50);
    margin-bottom: 30px;
    padding-bottom: 30px;

    a {
      color: #000;
    }

    @media #{$small-only} {

      font-size: rem-calc(18);
      text-transform: uppercase;

    }
  }
  P {
    @include o_sans;
    font-size: rem-calc(18);
    padding: 0 20px;
  }
  .more-news {
  @include o_sans_bold;
  background-image: url('/wp-content/themes/coenv-fish/assets/img/icon-more.svg');
  background-position: center right;
  background-repeat: no-repeat;
  color: $black;
  display: inline-block;
  line-height: 25px;
  margin-right: 20px;
  margin-top: 30px;
  padding-right: 32px;
  position: absolute;
  text-transform: uppercase;
  right: 0;
  top: 0;







  }
  .small-news,
  .featured-news {
  background-color: #fff;
  border-top: 5px solid #ebebeb;
  border-left: 5px solid #ebebeb;
  border-right: 5px solid #ebebeb;
  margin-bottom: 15px;
  margin-right: 15px;
   width: 370px;

   @media #{$small-only} {
      border-top: 0;
  border-left: 0;
  border-right: 0;


   }

  }
  .small-news .post-meta {
    background-color: #ebebeb;
  }
  .small-news h3 {
  @include encode_black;
  font-size: rem-calc(25);
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding: 16px 20px 0 20px;

  @media #{$small-only} {

    font-size: rem-calc(18);
  }

  a {
    color: $black;
  }

  }
  small-news p {
    margin-bottom: 20px;
  }
  
  .events {
    background-color: #fff;
    border: 6px solid #ebebeb;
    margin: 0 0 15px 0;
    padding: 0;

     ul.event-list {
     float: left;
     margin-top: 20px;
     width: 100%;
     
     }
     ul.event-list li {
       background-image: url('../assets/img/divider-teal-sm.svg');
       background-position: bottom left;
       background-repeat: no-repeat;
       background-size: 38px 5px;
       margin-bottom: 20px;
       padding-bottom: 20px;

       &:last-child {
        margin-bottom: 30px;

       }

     }
    ul.event-list li .date {
        @include o_sans_bold;
        font-size: rem-calc(14);
    }
    ul.event-list li .title {
      margin-bottom: 0;
      a {
        @include encode_black;
        color: #000;
        font-size: rem-calc(18);
      }
    }

    header {
      border-bottom: 5px solid #ebebeb;
      text-align: center;
      text-transform: uppercase;

      h3 {
        @include encode_black;
        margin-bottom: 15px;
        margin-top: 15px;

        a {
          background-image: url('../assets/img/icon-events.svg');
          background-position: center left;
          background-repeat: no-repeat;
          color: $black;
          display: inline-block;
          padding-left: 31px;
        }  
      }
    }
    footer {
      background-color: #ebebeb;
      padding-bottom: 10px;
      padding-top: 15px;
      width: 100%;
      float: left;

      .more-events {
        @include o_sans_bold;
        background-image: url('/wp-content/themes/coenv-fish/assets/img/icon-more.svg');
        background-position: center right;
        background-repeat: no-repeat;
        color: $black;
        display: inline-block;
        line-height: 25px;
        margin-right: 20px;
        padding-right: 32px;
        text-transform: uppercase;
      }




    }
  }
  time {
  margin: 0;
  padding-left: 0;
  padding-right: 0;


  }
  ul.terms {
    margin-bottom: 0;
    margin-left: 0;
    padding-left: 0;
  padding-right: 0;

    li {
      display: inline;
      list-style: none;
      margin-left: 1px;

    }

    a {
      color: $black;
      text-decoration: underline;
    }

  }
  .post-meta {
  @include o_sans_bold;
  width: 100%;
  padding: 20px;
  }
}

   

.playpause {
  display: none;
}

#feature-mask {
      position: absolute;
    top: 0px; left: 0px;
    width: 100%;
    height: 100%;

    pointer-events: none; /* to make clicks pass through */

    box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.4);
}


 
      
// Final code

.full-student-faculty {
  background-color: $black;
  width: 100%;

  &.row {
    max-width: none;
  }

  h2 {
    @include encode_black;
    background-postition: center bottom;
    background-repeat: no-repeat;
    color: #fff;
    font-size: rem-calc(24);
    text-transform: uppercase;
  }

  .button {
    @include o_sans_bold;
    background-color: #ffffff;
    border: solid 4px #cccccc;
    border-radius: 0;
    font-size: 14px;
    padding: rem-calc(7) rem-calc(10);
    text-transform: uppercase;

    &:first-child {
      margin-right: 10px;
    }

  }

  .student-container {
    background-image: url('/wp-content/themes/coenv-fish/assets/img/bg-students-home.jpg');
  }

  .faculty-container {
    background-image: url('/wp-content/themes/coenv-fish/assets/img/bg-faculty-home.jpg');
  }

  .student-container,
  .faculty-container {
    background-color: $black;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    float: left;
    height: 425px;
    position: relative;
    text-align: center;

    h2 {
      @media #{$small-only} {
        background-image: url('/wp-content/themes/coenv-fish/assets/img/divider-white-dbl.svg');
        background-position: center bottom;
        font-size: rem-calc(18);
        margin-bottom: 10px;
        padding-bottom: 20px;
        text-align: center;
        text-transform: uppercase;
      }
    }

    &.columns {
      padding-left: 0;
      padding-right: 0;
    }

    &:hover {

      @media #{$medium-up} {
        h2 {
          background-image: url('/wp-content/themes/coenv-fish/assets/img/divider-white-dbl.svg');
          background-position: center bottom;
          margin-bottom: 10px;
          padding-bottom: 20px;
        }
      }
    }

    @media #{$small-only} {
      border-top: solid 8px #fff; 
      height: auto;
    }

    @media #{$medium-up} {
      transition: background-color 500ms ease-out 1s;
      &:hover {

        div.fac-stud-wrapper {
          max-width: 600px;
          margin-top: 50px;
        }

        div.fac-stud-content {
          display: block;
        }
            
        &:after {
          background: rgba(0, 0, 0, 0.8);
          content: " ";
          display: block;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          z-index: 10;
        }  
      }
    }

    .fac-stud-wrapper {

      @include o_sans_bold;
      background: rgba(0, 0, 0, 0.7);
      border-top: solid 8px #fff;
      border-right: solid 8px #fff;
      border-bottom: solid 8px #fff;
      border-left: solid 8px #fff;
      color: #fff;
      margin: 180px auto 0 auto;
      max-height: 340px;
      padding: 20px 24px;
      width: 500px;
      z-index: 1000;
      
      @media #{$small-only} { 
        border-top: none;
        border-right: none;
        border-bottom: none;
        border-left: none;
        margin-top: 0;
        width: 100%;
      }
    }

    .fac-stud-content {
      // Don't show on page load
      display: none;

      @media #{$small-only} { 
        display: block;
      }

    }
  }    
} // end student-faculty