body.home {


// Feature slider (slider styles in scss/_feature.scss)

.full-feature {
   
  background-color: $black;
  min-height: 358px;
  overflow: visible;
  position: relative;
  width: 100%;

  @media #{$medium-up} {
    height: 458px;
    overflow: hidden;
  }

  .feature-content h2 {
    @include encode_black;
    line-height: 1.2;
    margin-bottom: rem-calc(15);
    text-transform: uppercase;
  }
}
  
.full-intro {
    width: 100%;
    background-color: #f2f2f2;
    background-image: url('../assets/img/bg-intro.png');
    border-top: solid 10px #f29068;
    margin-bottom: 0;
    padding: rem-calc(15) rem-calc(10);
    text-align: left;

    @media #{$medium-up} {
      padding: rem-calc(50) rem-calc(10) rem-calc(35) rem-calc(10);
      }

    .solid-widget .widget-title {
      margin-bottom: 0;
      margin-top: 0;
      padding: 0;
     
      @media #{$xlarge-up} {
        float: left;
        width: 20%;
      }

      h4 {

        background-position: bottom left;
        font-size: rem-calc(26);
        margin-bottom: rem-calc(15);
        padding-bottom: 0;
        text-align: left;
        text-transform: uppercase;





        

        @media #{$medium-up} {

        background-image: url('../assets/img/divider-orange-single.svg');
        background-position: bottom left;
        background-repeat: no-repeat;
        background-size: 120px 10px;
        font-size: rem-calc(46);
        line-height: 1.2;
        margin-top: 0;
        padding-bottom: 42px;
        text-align: left;
        text-transform: capitalize;
        width: 100%;
          
        }
      }

      h4 a {
      @include encode_black;
        color: black;
      }

    } //.solid-widget .widget-title
   
    .widget-content {
      @include o_sans;
      margin-bottom: 0;
      margin-left: 0;
      margin-right: 0;
      margin-top: 0;
      padding-top: 0;
      padding-bottom: 0;
      width: 100%;

      @media #{$xlarge-up} {
        float: right;
        width: 70%;
      }

      p {
        font-size: rem-calc(14);
        

        @media #{$medium-up} {
          font-size: rem-calc(18);
          
        }
      }

      
      .intro {


      font-size: rem-calc(16);
         
        
       

          @media #{$medium-up} {
          font-size: rem-calc(14);
        @include o_sans_bold;
        font-size: rem-calc(18);
          
        }
      }
    }

  } //.full-intro

  .full-connect {
    background-color: #464646;
    border-top: solid 12px $orange;
    padding: rem-calc(20) rem-calc(20) rem-calc(10) rem-calc(20);
    
    width: 100%;


    @media #{$medium-up} {
      padding: 40px 20px;
      text-align: center;

    }

    h2 {
      @include encode_black;
      
      color: #fff;
      float: left;
      font-size: rem-calc(18);
      letter-spacing: 2px;
      margin-bottom: rem-calc(15);
      margin-right: rem-calc(15);
      padding-bottom: 0;
      text-transform: uppercase;

      @media #{$medium-up} {
        background-image: url('/wp-content/themes/coenv-fish/assets/img/divider-white-double.svg');
        background-position: bottom center;
        background-repeat: no-repeat;
        background-size: 60px 5px;
        float: none;
        font-size: rem-calc(26);
        margin-right: 0;
        padding-bottom: 30px;
      }
    } // h2

.social-buttons {
  
  display: inline-block;
  float: right;
  padding: rem-calc(18) 0 0 0;

  @media #{$medium-up} {

    float: none;
    margin-top: 30px;



  }




}
 a.icon {
 background-size: 70%;
  display: inline-block;
  float: left;
  margin-left: 20px; 
  text-indent: -10000px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);

  @media #{$medium-up} {

    background-size: 100%;
    margin-left: 30px;

  }

  &:first-child {
    margin-left: 0;
  }
  }



a.facebook {
  background-size: 70%;
  



  background-image: url('/wp-content/themes/coenv-fish/assets/img/icon-facebook.svg');
  background-position: top left;
  background-repeat: no-repeat;
  height: 30px;
  margin-left: 15px;
  width: 13px;

  @media #{$medium-up} {
    
  }

  
}

a.twitter {
  background-image: url('/wp-content/themes/coenv-fish/assets/img/icon-twitter.svg');
  background-position: top left;
  background-repeat: no-repeat;
  height: 24px;
  width: 31px;
}

a.email-updates {
  background-image: url('/wp-content/themes/coenv-fish/assets/img/icon-email.svg');
  background-position: top left;
  background-repeat: no-repeat;
  height: 23px;
  width: 30px;
}

a.tumblr {
background-image: url('/wp-content/themes/coenv-fish/assets/img/icon-tumblr.svg');
background-position: bottom left;
background-repeat: no-repeat;
height: 50px;
width: 30px;





}

a.rss {
background-image: url('/wp-content/themes/coenv-fish/assets/img/icon-rss.svg');
background-position: bottom left;
background-repeat: no-repeat;
height: 50px;
width: 30px;





}




a.feed {
background-image: url('/wp-content/themes/coenv-fish/assets/img/icon-feed.svg');
background-postition: top left;
background-repeat: no-repeat;

height: 30px;
width: 30px;





}




}



.full-news-events .columns.news-column {
  @media #{$small-only} {
    padding-left: 0;
    padding-right: 0;
  }
}



}






// Homepage Widgets

.home {
 
 .widget_coenv_base_index_dates ul {
  margin-left: 1rem;
  }

    ul.widget_links {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
          display: inline !important;
          margin: 0 0 0 0;
          padding: 0;

          a.button {
            margin-bottom: rem-calc(15);
          }
        }
    }

    .list-news-small {
        list-style: none;
    }

    .widget_content {
        ul {
            list-style: none;	
        }
    }
    
    .widgettitle {
        display: none;
    }
    
    

    .home-news-section {
      padding-bottom: 0;
      text-align: left;


        @media #{$medium-up} {
          padding-bottom: 60px;
          padding-left: 0;
          padding-right: 0;
        }

        .featured-thumbnail {
             border-bottom: 5px solid #ebebeb;
        }
        

    }
    div[role=main] .solid-widget article {

        padding-right: 60px;

    }
}


















// Production styles












.full-news-events {
  background-image: url('/wp-content/themes/coenv-fish/assets/img/bg-home-intro.png');
  border-bottom: solid 12px $teal;
  border-top: solid 12px $teal;
  padding-top: rem-calc(15);

  width: 100%;

   @media #{$medium-up} {
      padding-top: rem-calc(20);
        text-align: center;

   }

  h2 {
    @include encode_black;
    
    font-size: rem-calc(26);
    margin-bottom: rem-calc(15);
    padding-bottom: rem-calc(15);
    text-transform: uppercase;
    background-image: url('/wp-content/themes/coenv-fish/assets/img/divider-teal-single.svg');
    background-position: bottom left;
      background-repeat: no-repeat;
      background-size: 60px 5px;
    
    

    a {
      color: #000;
    }

    @media #{$medium-up} {
    background-image: url('/wp-content/themes/coenv-fish/assets/img/divider-teal-double.svg');
    background-position: bottom center;
      background-size: 120px 10px;
      font-size: rem-calc(50);
      margin-bottom: 30px;
      padding-bottom: 30px;
      text-transform: capitalize;
      

    }
  }
  P {
    @include o_sans;
    font-size: rem-calc(18);
    padding: 0 20px;
  }
  .more-news {
    display: none;

    @media #{$medium-up} {

      @include o_sans_bold;
      background-image: url('/wp-content/themes/coenv-fish/assets/img/icon-more.svg');
      background-position: center right;
      background-repeat: no-repeat;
      color: $black;
      display: inline-block;
      line-height: 25px;
      margin-right: 20px;
      margin-top: 30px;
      padding-right: 32px;
      position: absolute;
      text-transform: uppercase;
      right: 0;
      top: 0;
    }







  }
  .small-news,
  .featured-news {




  border-top: 0;
  border-left: 0;
  border-right: 0;
  margin-bottom: 15px;

  @media #{$medium-up} {
  background-color: #fff;
  border-top: 5px solid #ebebeb;
  border-left: 5px solid #ebebeb;
  border-right: 5px solid #ebebeb;
  margin-right: 15px;
  text-align: left;
  width: 370px; 


  }

  }
  .small-news .post-meta {
    background-color: #ebebeb;
  }

  .small-news h3 {
    font-size: rem-calc(18);
    line-height: 1.2;
    margin-bottom: 15px;
    padding-bottom: 0;

    a {
      color: $black;
      text-decoration: underline;
    }

    @media #{$medium-up} {
      @include encode_black;
      background-image: none;
      background-size: 60px 5px;
      font-size: rem-calc(25);
      padding: 16px 20px 0 20px;
      text-decoration: none;
      text-transform: uppercase;
    }

    

  }

.small-news:last-child h3 {
    background-image: none;
  }
.small-news.col-2 h3 {
  margin-bottom: 0;
  padding-bottom: rem-calc(10);
}


  small-news p {
    margin-bottom: 20px;
  }
  
  .events {
    background-color: #fff;
    
    margin: 0 0 15px 0;
    padding: 0;

    @media #{$medium-up} {

      border: 6px solid #ebebeb;

    }

     ul.event-list {
      margin-bottom: 0;
      margin-left: 0;
      margin-top: 15px;


     @media #{$medium-up} {
      float: left;
     
     
     width: 100%;
      

    }


     
     }
     ul.event-list li {
       margin-bottom: 20px;
       padding-bottom: 20px;
       

       @media #{$medium-up} {
        background-image: url('../assets/img/divider-teal-single.svg');
        background-position: bottom left;
        margin-left: rem-calc(25);
        margin-right: rem-calc(25);
        text-align: left;


       }
       


       &:last-child {
        background-image: none;
        margin-bottom: 30px;

       }



     }
    ul.event-list li .date {
        @include o_sans_bold;
        font-size: rem-calc(14);
    }
    ul.event-list li .title {
      margin-bottom: 0;
      a {
        @include o_sans;
        color: #000;
        font-size: rem-calc(18);
        text-decoration: underline;

         @media #{$medium-up} {
          @include encode_black;
          text-decoration: none;


         }



        
        
      }
    }

    header {
      
      
      text-transform: uppercase;

       @media #{$medium-up} {
        padding: rem-calc(10);
        border-bottom: 5px solid #ebebeb;
       }

      h3 {
        @include encode_black;
        background-image: url('../assets/img/divider-teal-single.svg');
        background-position: bottom left;
        background-repeat: no-repeat;
        background-size: 60px 5px;
        font-size: rem-calc(26);
        margin-bottom: 0;
        margin-top: 0;
        padding-bottom: rem-calc(15);


        @media #{$medium-up} {
          background-image: url('../assets/img/divider-teal-double.svg');
          background-image: none;
          padding-bottom: 0;
          text-align: center;
        }


        

          a {
            
            color: $black;
            display: inline-block;
            margin-bottom: 0;
           

             @media #{$medium-up} {
             font-size: rem-calc(25);
             background-image: url('../assets/img/icon-events.svg');
              background-position: center left;
              background-repeat: no-repeat;
             padding-left: 31px;



             }





          }

        
      }
    }
    footer {
      
      display: none;
      @media #{$medium-up} {

        background-color: #ebebeb;
        padding-bottom: 10px;
        padding-top: 15px;
        width: 100%;
        float: left;


      }

      .more-events {
        display: none;

        @media #{$medium-up} {
          @include o_sans_bold;
          background-image: url('/wp-content/themes/coenv-fish/assets/img/icon-more.svg');
          background-position: center right;
          background-repeat: no-repeat;
          color: $black;
          display: inline-block;
          line-height: 25px;
          margin-right: 20px;
          padding-right: 32px;
          text-transform: uppercase;
        }
      }




    }
  }
  time {
  margin: 0;
  padding-left: 0;
  padding-right: 0;


  }
  ul.terms {
    margin-bottom: 0;
    margin-left: 0;
    padding-left: 0;
  padding-right: 0;

    li {
      display: inline;
      list-style: none;
      margin-left: 1px;

    }

    a {
      color: $black;
      text-decoration: underline;
    }

  }
  .post-meta {
  @include o_sans_bold;
  width: 100%;
  padding: 20px;
  }
}

   

.playpause {
  display: none;
}




 
      
// Final code

.full-student-faculty {
  background-color: $black;
  width: 100%;

  &.row {
    max-width: none;
  }

  h2 {
    @include encode_black;
    background-postition: center bottom;
    background-repeat: no-repeat;
    color: #fff;
    font-size: rem-calc(24);
    text-transform: uppercase;

    a {
      color: $white;
    }

  }


  @media #{$medium-up} {
    .student-container {
      background-image: url('/wp-content/themes/coenv-fish/assets/img/bg-students-home.jpg');
    }

    .faculty-container {
      background-image: url('/wp-content/themes/coenv-fish/assets/img/bg-faculty-home.jpg');
    }
  }

  .student-container,
  .faculty-container {
    background-color: $black;
    float: left;
    height: 425px;
    overflow: hidden;
    position: relative;
    text-align: center;

    @media #{$medium-up} {
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }

    h2 {
      @media #{$small-only} {
        background-image: none;
        font-size: rem-calc(18);
        text-align: center;
        text-transform: uppercase;

      }
    }

    &.columns {
      padding-left: 0;
      padding-right: 0;
    }

    &:hover {

      @media #{$medium-up} {
        h2 {
          background-image: url('/wp-content/themes/coenv-fish/assets/img/divider-white-double.svg');
          background-position: center bottom;
          background-size: 60px 5px;
          margin-bottom: 10px;
          padding-bottom: 20px;
        }
      }
    }

    @media #{$small-only} {
      border-top: solid 8px #fff; 
      height: auto;
    }

    @media #{$medium-up} {
      &:hover {

        div.fac-stud-wrapper {
          max-width: 600px;
          margin-top: 50px;
          
        }

        div.fac-stud-content {
          display: block;
        }
            
        &:after {
          background: rgba(0, 0, 0, 0.8);
          content: " ";
          display: block;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          z-index: 10;
        }  
      }
    }

    .fac-stud-wrapper {

      @include o_sans_bold;
      background: rgba(0, 0, 0, 0.7);
      border-top: solid 8px #fff;
      border-right: solid 8px #fff;
      border-bottom: solid 8px #fff;
      border-left: solid 8px #fff;
      color: #fff;
      margin: 180px auto 0 auto;
      max-height: 340px;
      padding: 20px 24px;
      width: 500px;
      z-index: 1000;
      
      @media #{$small-only} { 
        border-top: none;
        border-right: none;
        border-bottom: none;
        border-left: none;
        margin-top: 0;
        width: 100%;
      }
    }

    .fac-stud-content {
      // Don't show on page load
      display: none;

      

    }
  }    
} // end student-faculty






