.top-bar {
    background-color: $white;
    height:auto !important;
    text-align: center;
    border-bottom: #d7dee5 1px solid;
    line-height: 0;
    min-height: rem-calc(60);
    padding-top: rem-calc(8);

    * {
        display: block;
    }

    
    .top-bar-section {
        display: inline-block;
        
        #menu-main-menu {
            .has-dropdown ul li a {
                background-image: none;
            }


            li {
                margin-right: 15px;
            }
            li a {

                @media #{$large-up} {
                    font-size: rem-calc(16);
                }
                @media #{$medium-only} {
                    background-image: none!important;
                }
                font-size: rem-calc(14);
                color: $text;
                @include o_sans;
                background-color: #ffffff;
                text-align: left;
                text-transform: uppercase;

                &:hover, &:focus {
                    color: $accent;
                }
                
            }
            li.current_page_parent {
                & > a {
                    color: $accent;
                    &:hover {
                        color: $accent;
                    }
                }
                & .current_page_item > a {
                    background-color: $bg-light;
                    border-top: 1px solid #dddddd;
                    border-bottom: 1px solid #dddddd;
                }
            }
        
            .dropdown {
                @include shadow;

                ul {
                    border-top: 0 !important;
                }
    
                a {
                    @include encode();
                    font-size: rem-calc(16);
                    text-transform: none;
                    background-color: #f6f5f7;
                    border-bottom: 1px solid #fff;
                    &:hover{
                        background-color: $bg-lighter;
                    }
                }
            }

            & > .page_item_has_children {
                
                

                &:not(:first-child) {
                    &:before {
                        content: "";
                    }
                }
                
                &.page-item-55 > a {
                    background-position-x: 99%;                        
                }
                
                &.current_page_item.page-item-55 > a, &.page-item-55 > a:hover {
                    background-position-x: 99%;
                }

                &.current_page_item > a, & > a:hover{
                        color: $accent;
                }

                
            }
    
            .has-dropdown a {
                background-image: url('../assets/img/nav-carrot.svg');
                background-repeat: no-repeat;
                background-position: center right;

                @media #{$medium-only} {
                    background-image: none!important;
                    padding: 0 5px !important;
                }


                
               
            }
        }
    }
}



.top-bar .top-bar-section #menu-main-menu ul .has-dropdown>a {

background-image: none;

}


@media only screen and (min-width: 40.063em) {
.top-bar-section .has-dropdown>a {
    padding-right: 20px !important;

    

}
}
.top-bar-container .top-bar .top-bar-section #menu-main-menu .dropdown {
    border-top: 6px solid $accent;
}

@media only screen and (min-width: 40.063em) {
.top-bar-section .has-dropdown .dropdown li.has-dropdown>a:after {
   content: '';
}
}




