body.search .page-content,
body.error404 .page-content{
	
	
	 padding-left: rem-calc(15);
	 padding-right: rem-calc(15);


	.panel {
		margin-bottom: 20px !important;




	}
	
	form .field-wrap {
		// .field-wrap is weird, doesn't cover submit
		width: 91%;

	input[type="text"] {
		border-bottom: solid 1px #cccccc;
	    border-left: solid 1px #ccc;
	    border-right: 0;
	    border-top: solid 1px #999;
		font-size: 16px;
		height: 42px;
		margin-bottom: 0;
		padding-left: rem-calc(15);
		width: 100%;
	}
	button {
		background-color: #000;
		height: auto;
		padding: 3px 0;
	}
	button[type="submit"] {
		max-width: 80px;

		i {
			font-size: 26px !important;
		}



	}

	.search-results {
		margin: 0 27px;
	}

}
.search-form button {
		min-width: rem-calc(25);
	}
}