.share {
	display: none;
	@include rem('margin-right', .5);
	
	a {
		@include font-size(11);
		text-decoration: none;
		text-transform: uppercase;
		color: $text-lt;
		float: right;
		letter-spacing: .1em;
		font-weight: 600;
		@include rem('margin-top', 0.1);
	}

	// only show if js is enabled
	&.active {
		display: block;
		text-align: right;
	}

	i {
		position: relative;
		top: 0.05em;
		left: -0.3em;
	}

} // .share

.share-modal {
	position: absolute;
	z-index: -99999;
	right: 15px;
	-webkit-transition: opacity 0.25s ease;
	transition: opacity 0.25s ease;
	-webkit-transform-origin: 50% 0;
	-ms-transform-origin: 50% 0;
	transform-origin: 50% 0;
	opacity: 0;
	margin-top: -60px;
	width: 162px;
	height: 46px;
	
	&.active {
		z-index: 2;
	}

	&.active-visible {
		opacity: 1;
	}

	ul {
		height: 46px;
		background: #000;
		margin-left: 0;
		padding: 0;
		list-style: none;

		li {
			font-size: 20px;
			cursor: pointer;
			width: 54px;
			padding: 4px 0;
			text-align: center;
			float: left;
			height: 38px;
			z-index: 2;
			-webkit-box-sizing: content-box;
			-moz-box-sizing: content-box;
			box-sizing: content-box;
			color: white;

			&:hover {
				color: #f29068;
			}

		}
		
		.share-social-twitter {
			//@extend .icon-twitter;
		}

		.share-social-facebook {
			//@extend .icon-facebook;
		}
		
		.share-social-email:before {
			@extend .fi-mail;
		}
		
		&:after {
			content: '';
			display: block;
			width: 0;
			height: 0;
			position: absolute;
			left:110px;
			right: 0;
			border-left: 20px solid transparent;
			border-right: 20px solid transparent;
			border-top: 20px solid #5c5c5c;
			margin: 35px auto;
        }
	}

		li[class*=share-social-twitter] {
		    background: #5c5c5c;
	    }
	
		li[class*=share-social-email] {
		    background: #5c5c5c;
	    }
	    li[class*=share-mail] {
		    background: #5c5c5c;
	    }

		i {
			@include font-size(30);
		}

} // .sharing