.share {
	display: none;
    max-width: rem-calc(60);
    margin-right: rem-calc(3);
	
	a {
		@include font-size(11);
		text-decoration: none;
		text-transform: uppercase;
		color: $text-lt;
		float: right;
		letter-spacing: .1em;
		font-weight: 600;
	}

	// only show if js is enabled
	&.active {
		display: block;
		text-align: right;
	}

	i {
		position: relative;
		left: -0.3em;
	}

} // .share

.share-modal {
	position: absolute;
	z-index: -99999;
	right: 0px;
	-webkit-transition: opacity 0.25s ease;
	transition: opacity 0.25s ease;
	-webkit-transform-origin: 50% 0;
	-ms-transform-origin: 50% 0;
	transform-origin: 50% 0;
	opacity: 0;
	margin-top: -60px;
	width: 180px;
	height: 46px;
	
	&.active {
		z-index: 2;
	}

	&.active-visible {
		opacity: 1;
	}

	ul {
		height: 46px;
		background: #3b5998;
		padding: 0;
		list-style: none;

		li {
			font-size: 15px;
			cursor: pointer;
			width: 60px;
			padding: 12px 0;
			text-align: center;
			float: left;
			height: 22px;
			z-index: 2;
			-webkit-box-sizing: content-box;
			-moz-box-sizing: content-box;
			box-sizing: content-box;
			color: white;

			&:hover {
				color: rgba(0,0,0,.5);
			}

		}
		
		&:after {
			content: '';
			display: block;
			width: 0;
			height: 0;
			position: absolute;
			left:120px;
			right: 0;
			border-left: 20px solid transparent;
			border-right: 20px solid transparent;
			border-top: 20px solid #e34429;
			margin: 35px auto;
        }
	}

		li[class*=share-social-twitter] {
		    background: #6cdfea;
	    }
	
		li[class*=share-mail] {
		    background: #e34429;
	    }

		i {
			@include font-size(24);
			position: absolute;
			top: rem-calc(5);
			margin-left: rem-calc(-10);
		}

    } // .share-modal

.entry-content {
    .share-modal {
        right: rem-calc(15);
    }
}