aside#sidebar {
	padding-right: rem-calc(18) !important;

	article.widget ul {
		margin-top: rem-calc(15);
	}

	.section-title {
		background-image: url("../assets/img/nav-border-top-green-long.png");
		background-repeat: no-repeat;
		border-left: 6px solid #82cfcc;
  		border-right: 6px solid #ebebeb;

		h2 {
		background-image: url("../assets/img/icon-menu.png");
		background-position: 0px 17px;
		background-repeat: no-repeat;
		font-size: rem-calc(26);
		line-height: 1;
		min-height: 55px;
  		margin-bottom: 0;
  		margin-left: 16px;
  		padding-bottom: 0;
  		padding-top: 24px;
  		padding-left: 50px;
  		}

		a {
		@include encode_black;
		text-transform: uppercase;
		color: #000;
		

		}
	}

	// Hide for mobile	
	.coenv_base_subnav,
	&.section-title {
		@media #{$small-only} {
			display:none;
		}
	}

	// Second-level navigation
	.coenv_base_subnav ul {
		@include o_sans_bold;
		background-image: url('../assets/img/nav-border-top-green.png');
		background-position: left bottom;
		background-repeat: no-repeat;
		border-left: 6px solid #82cfcc;
		border-right: 6px solid #ebebeb;
		margin-bottom: rem-calc(25);
		li {
			@include o_sans_bold;
			background-image: url('../assets/img/nav-border-top-green.png');
			background-repeat: no-repeat;
			background-position: left top;
			padding: 20px 16px 5px 14px;
			text-transform: uppercase;

			&.active,
			&:hover {
				background-image: url('../assets/img/nav-border-black.png');
			}

			&:last-child {
				padding: 20px 16px 0 14px;
			}

			a {
				@include o_sans_bold;
				display: block;
				font-size: rem-calc(16);
				letter-spacing: .02rem;
				line-height: 1.2;
				padding: 0;

				&.active {
				 color: #2a6e6b !important;
				}
				&:hover {
					background-color: transparent;
					color: #2a6e6b !important;
				}
				&:not(.button) {
					color: #000;
				}

			}
			ul {
				background-image: none;
				background-position: left bottom;
				background-repeat: no-repeat;
				border-left: none;
				border-right: none;
				margin-bottom: 0;
				margin-left: 25px;
				margin-top: 0px;
				padding-bottom: 0;
				li {
					@include o_sans;
					background-image: none !important;
					border: 0;
					margin-top: 12px;
					padding: 0;
					text-transform: none;

					ul {
					margin-left: 25px;
					margin-top: 0;
					padding-bottom: 0;
					}

					a {
					font-size: rem-calc(18);
					}

					&:last-child {
						padding: 0;
					}
					
					li a {
					@include o_sans;
						font-size: rem-calc(16);
						text-transform: none;
					}
				}
				&.side-nav {
					padding-top: 0;
					background-image: none;

					&:first-child {
						padding: 1rem 0 0 0;
					}

				}
			}
		}
	}
	
}