// General sidebar
aside#sidebar {
	margin-top: rem-calc(25);
	padding-right: 1rem !important;

	.section-title {
		background-image: url("../assets/img/nav-border-top-green-long.png");
		background-repeat: no-repeat;
		border-left: 6px solid #82cfcc;
  		border-right: 6px solid #ebebeb;
  		padding: 5px 0;

		h2 {
		background-image: url("../assets/img/icon-menu.png");
		background-position: left center;
		background-repeat: no-repeat;
	  	line-height: .75;
  		margin-bottom: 0;
  		margin-left: 16px;
  		padding-bottom: 10px;
  		padding-top: 10px;
  		padding-left: 50px;
  		}

		a {
		@include encode_black;
		text-transform: uppercase;
		color: #000;
		font-size: rem-calc(26);

		}
	}

	// Hide for mobile	
	.coenv_base_subnav,
	&.section-title {
		@media #{$small-only} {
			display:none;
		}
	}

	// Second-level navigation
	.coenv_base_subnav ul {
	@include o_sans_bold;
		background-image: url('../assets/img/nav-border-top-green.png');
		background-position: left bottom;
		background-repeat: no-repeat;
		border-left: 6px solid #82cfcc;
		border-right: 6px solid #ebebeb;
		margin: 0  1rem rem-calc(30) 0;
		padding: 0;
		line-height: 10px;
		width: 100%;
		li {
			@include o_sans_bold;
			display: block;
			background-image: url('../assets/img/nav-border-top-green.png');
			background-repeat: no-repeat;
			background-position: left top;
			line-height: 1.2;
			margin: 0;
			padding: 0;
			text-transform: uppercase;
			font-size: 1rem;

			&.active,
			&:hover {

				background-image: url('../assets/img/nav-border-black.png');

			}
			a {
				@include o_sans_bold;
				display: block;
				font-size: rem-calc(18);
				padding: 16px 16px 14px 16px;
				&:not(.button) {
					color: #000;
				}
			}
			ul {
				background-image: none;
				background-position: left bottom;
				background-repeat: no-repeat;

				border-left: none;
				border-right: none;
				margin-bottom: 0;
				margin-left: 0;
				padding-bottom: 20px;
				padding-left: 0;
				li {
					@include o_sans;
					background-image: none !important;
					border: 0;
					padding: 0;

					a {
					font-size: rem-calc(14);
					padding: 6px 16px 6px 30px;
					}
					ul {
						padding-bottom: 0;
					}
					li a {
					@include o_sans;
						font-size: rem-calc(12);
						padding: 6px 16px 6px 50px;
						text-transform: none;
					}
				}
				&.side-nav {
					padding-top: 0;
					background-image: none;
				}
			}
		}
	}
	.widget {
		margin-bottom: rem-calc(30);
	}
	.solid-widget {
	border: solid 6px #f29068;
	margin-bottom: 27px;
	padding: 0;


	



	}






}

