/**
 * For FoundationPress:
 * ----------------------------------------------------------------------------
 */

/**
 * 1.0 Custom settings
 * ----------------------------------------------------------------------------
 */

// Reset margin and padding on figure element
figure { 
	margin: 0; 
	padding: 0;
}

// Add some basic styling for figcaption element
figcaption {
	margin-bottom: rem-calc(20);
	margin-top: rem-calc(10); 
	color: #6f6f6f; 
}

// Add some whitespace between top bar and content
.top-bar-container, .tab-bar {
	margin-bottom: rem-calc(32);
}

// Fix the issue where the WP adminbar overlaps the mobile menu
#wpadminbar {
	position: fixed !important;
}

.back-to-top {
    position: fixed;
    bottom: 4em;
    right: 30%;
    text-decoration: none;
    color: #000000;
    background-color: rgba(235, 235, 235, 0.80);
    font-size: 12px;
    padding: 1em;
    display: none;
    z-index: 100;
}

.back-to-top:hover {    
    background-color: rgba(135, 135, 135, 0.50);
}
div[role="main"] {
    @extend .right;
    @extend .small-12;
    @media #{$small-only} { 
        width: 100% !important;
    }
    @media #{$medium-only} { 
        width: 65% !important;
    }
    @media #{$large-up} { 
        width: 72% !important;
    }

}
#sidebar {
    @extend .left;
    @media #{$small-only} { 
        width: 100% !important;
    }
    @media #{$medium-only} { 
        width: 35% !important;
    }
    @media #{$large-up} { 
        width: 28% !important;
    }
    
}
ul.select-category {
    width: 500px;
    li {
        width: 33%;
    }
}
.f-dropdown,
.f-dropdown.content {
    max-width: 500px;
    }

#content.widecolumn {
    max-width: 1150px;
    margin: rem-calc(50) auto;
    padding: 0 rem-calc(30);
}