/*	Template: menu_top
		Site-wide tippity-top menu
		======================================================================== */

.skipnav {
	text-align: left;
	a {
		position: absolute;
		left: -10000px;
		width: 1px;
		height: 1px;
		overflow: hidden; 
	}
	a:focus, .skipnav a:active {
		position: static;
		left: 0;
		width: auto;
		height: auto;
		overflow: visible; 
		text-decoration: underline; 
	}
}

#top-nav {
	@include rem('padding', 0.25, 0, 0.3);
	background: $bg-dk;
	font-size: 0;
	text-align: right;
	display: block;

	@media print {
		display: none !important;
	}

	ul,
	form {
		display: inline-block;
		@include rem('margin', 0, 0, 0, 0.3);
		padding: 0;
		font-size: 0;
		vertical-align: top;
	}

	ul {
		list-style: none;
	}

	li,
	input,
	button {
		display: inline-block;
		padding: 0;
		margin: 0;
		@include font-size(11);
		@include rem('line-height', 1.8);
		@include rem('height', 1.8);
		vertical-align: top;
	}

	input[type="text"] {
		@include font-size(12);
		background: #666;
				color: #fff;
	} // input[type="text"]

	button[type="submit"] {
		background: #666;

		i {
			@include font-size(16);
			color: #eee;
            margin-right: rem-calc(3);
		}

		&:hover i {
			color: #fff;
		}

	} // button[type="submit"]

	a,
	input,
	button {
		@include rem('padding', 0, 0.5);
	}

	a {
		display: block;
		text-transform: uppercase;
		letter-spacing: 0.1em;
		font-weight: 600;
		text-decoration: none;
		color: #ddd;
		border-radius: $radius;

		&:hover {
			background: #666;
			color: #fff !important;
		}

	} // a

    
    #menu-top {
        
        i {
            top: rem-calc(3);
            
            &:before {
                font-size: rem-calc(18);
            }
        }
    }

	#menu-university {
		float: left;
        margin-left: rem-calc(14);

	} // #menu-university

	#menu-buttons {
        padding-right: 1rem;
        
        li a {
            background: $accent-red;
            color: #fff;

            &:hover {
            	background: $accent-red-hover;
            }
            svg {
            margin-right: 2px;
            }
        }
        
        li.give a {
			background: $accent-red;
			color: #fff;

            &:hover {
                background: darken( $accent-red, 10% );
            }
            
        } // li.give a

	} // #menu-buttons
    
    .menu {
    
        i {
            position: relative;
            top: .1em;
            
            .path1 {
                fill: #fff;
            }
        }
    }

} // #top-nav