/* 	==========================================================================
		Type
		========================================================================== */


@mixin sans() {
  font: {
    family: "open-sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
}

@mixin serif() {
  font: {
    family: Georgia, serif;
  }
}








