// Events Widget

.event-list {
	list-style: none;
	
	.date {
		margin-bottom: 0;
	}
	
	.title {
		margin-bottom: rem-calc(10);
	}
}

// Social Widget

.widget-social {
    ul {
        list-style: none;	
    }
}


// Sidebar Widgets
aside#sidebar div.columns {

	
	// Content blocks
	.widget_custom_post_widget {
		.widget_content {
			padding: 0 rem-calc(20) rem-calc(5) rem-calc(20);
			h4 {
				@include encode_cb;
				font-size: rem-calc(22);
				letter-spacing: .1rem;
			}
			p {
				margin-bottom: 0;
			}
		}
		.widget_links {
			margin-bottom: 0;
			margin-left: 0;
			margin-top: rem-calc(15);
			li {
				display: inline;
				width: 100%;
				a {
					

					
					letter-spacing: rem-calc(1);
					margin: 0 0 rem-calc(6) 0;
					padding: rem-calc(10);
					text-align: left;
					width: 100%;
				}
				.button {
					text-transform: uppercase;
				}
			}
		}
	}
	&:nth-child(odd) {
		.widget_custom_post_widget {
			background-color: #f2f2f2;
			.widget_content {
				h4 a {
					color:  #333;
				}
			}
			.widget_links {
				padding: 0 rem-calc(20) rem-calc(25) rem-calc(20);
				.button {
					background-color: #333;
					color: $white;
					text-align: left;
				}
			}
			
		}
	}
	&:nth-child(even) {
		.widget_custom_post_widget {
			background-color: #f2f2f2;
		}
		.widget_custom_post_widget .widget_content {

		}
		.widget_custom_post_widget .widget_links {
			padding-top: 0;
			padding-right: rem-calc(20);
			padding-bottom: rem-calc(25);
			padding-left: rem-calc(20);
			background-image: url("/wp-content/themes/coenv-cig/assets/img/side-nav-bottom-tile.png");
			background-repeat: no-repeat;
			background-position: bottom center;
		}
		
	}
}

// After Content Widgets
#after-content div.columns {


	.widget_links {

	}
	.widget_links li a {

	}
	
	.widget_custom_post_widget {
		border-top: 4px solid #333;
		margin-bottom: rem-calc(20);
		padding: rem-calc(20);
		.widget_img {
			float: left;
			margin-right: 5%;
			padding: 0;
			width: 30%;
		}	
		.widget_content {
			float: left;
			margin-bottom: 0;
			
			width: 65%;
			h4 {
				@include encode_cb;
				font-size: rem-calc(22);
				letter-spacing: .1rem;
			}
			p {
				margin-bottom: 0;
			}
		}
		.widget_links {
			float: right;
			margin-bottom: 0;
			margin-left: 0;
			margin-top: rem-calc(5);
			text-align: right;
			width: 65%;
			li {
				display: inline;
				width: 100%;
				a {
					
					width: auto;
					&:first-child {
        				margin-left: rem-calc(10);
					}
					letter-spacing: rem-calc(1);
					margin: 0 0 rem-calc(6) 0;
					padding: rem-calc(10);
					text-align: left;
				}
				.button {
					text-transform: uppercase;
				}
			}
		}
	}
	&:nth-child(odd) {
		.widget_custom_post_widget {
			background-color: #f2f2f2;
			.widget_content {
				h4 a {
					color:  #333;
				}
			}
			.widget_links {
				padding: 0 rem-calc(20) rem-calc(25) rem-calc(20);
				.button {
					background-color: #333;
					color: $white;
					text-align: left;
				}
			}
			
		}
	}
	&:nth-child(even) {
		.widget_custom_post_widget {
			background-color: #f2f2f2;
		}
		.widget_custom_post_widget .widget_content {

		}
		.widget_custom_post_widget .widget_links {
			padding-top: 0;
			padding-right: rem-calc(20);
			padding-bottom: rem-calc(25);
			padding-left: rem-calc(20);
			background-image: url("/wp-content/themes/coenv-cig/assets/img/side-nav-bottom-tile.png");
			background-repeat: no-repeat;
			background-position: bottom center;
		}
		
	}
}


