// Events Widget

.event-list {
	list-style: none;
	
	.date {
		margin-bottom: 0;
	}
	
	.title {
		margin-bottom: rem-calc(10);
	}
}

// Homepage Widgets

.home-content {
	.widget_links {
		float: right;
		width: auto;
	}
}

.home-columns {
	.widget_links {
		float: right;
		width: auto;
	}
	.widget_rss {
		margin-right: rem-calc(5);
	}
	
	#custom_post_widget-11 {
		margin-left: rem-calc(5);
	}
	h4 a {
		color: black;
	}
	ul {
		list-style: none;
	}
	
	img {
		display: none;
	}
}
.widget_coenv_base_index_dates ul {
	margin-left: 1rem;
}