// All widgets

.solid-widget {
	float: left;
	padding-bottom: rem-calc(5);
	width: 100%;

	.widget_img {
		width: 100%;
	}

	.widget-title {
		margin-top: rem-calc(20);
		padding: 0 rem-calc(20);

		h4 {

			@include encode_black;
	       	background-position: bottom left;
	       	background-repeat: no-repeat;
	       	background-size: rem-calc(60) rem-calc(5);
			font-size: rem-calc(24);
			line-height: 1.1;
			padding-bottom: rem-calc(20);
			text-transform: uppercase;

			a {
				color: $black;
			}
		}
	}

	.widget-content {
		@include o_sans;
		margin: rem-calc(16) rem-calc(20);
		
		p {
			font-size: rem-calc(16);
			line-height: 1.4;

			a {
				color: #5c5c5c;
				text-decoration: underline;
			}

		}
			
		

		ul,li {
			list-style: none;
			margin-left: 0;
		}
	}
}

// Sidebar widgets

aside#sidebar .solid-widget {
	border: solid 6px $orange;
	margin-bottom: rem-calc(25);

	.widget_img {
		border-bottom: solid 6px $orange;	
	}

	.widget-title {

		h4 {
			background-image: url('../assets/img/divider-orange-single.svg');
		}
	}
	.widget-content {
		@include o_sans;
		margin: rem-calc(16) rem-calc(20);
		
		p {
			font-size: rem-calc(16);
			line-height: 1.4;

			a {
				color: #5c5c5c;
				text-decoration: underline;
			}

		}
			
		
	}
}

// Bottom widgets

#after-content .solid-widget {
	border: solid 6px $teal;

	.widget-title {

		h4 {
			background-image: url('../assets/img/divider-teal-single.svg');
		}
	}

}



// Events widget

.event-list {
	list-style: none;
	
	.date {
		margin-bottom: 0;
	}
	
	.title {
		margin-bottom: rem-calc(10);
	}
}

// Faculty research area widget

.widget_coenv_base_fac_cats {

	.filter-cap {
		@include o_sans_bold;
		text-transform: uppercase;
		color: $black;
		font-size: rem-calc(14);
	}
	
	.widgettitle {
		background-image: url('/wp-content/themes/coenv-fish/assets/img/divider-black.svg');
		background-position: bottom left;
		background-repeat: no-repeat;
		background-size: rem-calc(45) rem-calc(6);
		padding-bottom: rem-calc(20);
		text-transform: uppercase;
		@include encode_black;
		text-transform: uppercase;
		color: $black;
		font-size: rem-calc(26);
	}

	ul {
		padding: 0;
		margin-left:0;
	}

	li {
		@include encode_black;
		background-image: url('/wp-content/themes/coenv-fish/assets/img/filter-selecter.svg');
		background-position: .5rem center;
		background-repeat: no-repeat;
		background-size: rem-calc(25) rem-calc(25);
		list-style: none;
		margin: 0 .5rem 0 0;
		padding: .5rem 0 .5rem 3rem;
		text-transform: uppercase;

		a {
			color: $black;
		}

		&:hover {
			background-color: #ebebeb;
		}

	}
}